/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_wildtransport #container #picture_stage a.prev,
.aetv_showBranding_wildtransport #container #picture_stage a.next,
.aetv_showBranding_wildtransport #header #mobile-menu_top,
.aetv_showBranding_wildtransport .mobile_wrapper #header,
.aetv_showBranding_wildtransport .shop-content .network-logo {
  background-color: rgb(254,182,48)!important;
}
.aetv_showBranding_wildtransport .scroll-button {
  background: rgb(254,182,48);
  background: rgba(254,182,48, 0.3);
}
.aetv_showBranding_wildtransport .scroll-button:hover {
  background: rgb(254,182,48);
  background: rgba(254,182,48, 0.9);
}
.aetv_showBranding_wildtransport .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_wildtransport .season-archive .episode-tile .episode-name,
.aetv_showBranding_wildtransport .video-landing-section-title h2 span,
.aetv_showBranding_wildtransport .video-landing-section-title span,
.aetv_showBranding_wildtransport .video-landing-section-title h1 span,
.aetv_showBranding_wildtransport #full-episodes-column-title h1:not(span),
.aetv_showBranding_wildtransport #bio-slideout .cast-header,
.aetv_showBranding_wildtransport #bio-slideout h3.cast-header-sm,
.aetv_showBranding_wildtransport .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_wildtransport .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_wildtransport .cast-bio-page h2.episode-title.darker-text {
  color: rgb(254,182,48)!important;
}

.aetv_showBranding_wildtransport #container #picture_selector ul li img {
  border-color: rgb(254,182,48)!important;
}
.aetv_showBranding_wildtransport .mobile_wrapper .show-navigation .social {
    background: rgb(254,182,48)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_wildtransport .exclusive-tile p.cta,
.aetv_showBranding_wildtransport .video-landing-section-title :not(span),
.aetv_showBranding_wildtransport #full-episodes-column-title h1 span,
.aetv_showBranding_wildtransport .cast-tile .cast-name a,
.aetv_showBranding_wildtransport .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_wildtransport .episode-premier *,
.aetv_showBranding_wildtransport div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_wildtransport .custom-tw-tile .note_title a {
  color: rgb(40,32,36)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_wildtransport .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_wildtransport .generic-tile:hover .cta,
.aetv_showBranding_wildtransport .exclusive-tile:hover p.cta,
.aetv_showBranding_wildtransport .cast-panel:hover .bio-link,
.aetv_showBranding_wildtransport .cast-action a:hover,
.aetv_showBranding_wildtransport .tile:hover .watch-now a,
.aetv_showBranding_wildtransport .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_wildtransport .shop-content:hover .cta,
.aetv_showBranding_wildtransport div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_wildtransport .exclusive-tile .exclusive-copy p {
  color: rgb(255,255,255)!important;
}
.aetv_showBranding_wildtransport .scroll-button .button-tip {
  background-color: rgb(255,255,255);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_wildtransport #site_nav .top_row #show_nav > li.active > a {
  color: rgb(254,182,48);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_wildtransport  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(40,32,36);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_wildtransport div.exclusive-copy,
.aetv_showBranding_wildtransport .cast-group-landing-page .caption,
.aetv_showBranding_wildtransport .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_wildtransport .cast-member-panel,
.aetv_showBranding_wildtransport .generic-tile .body,
.aetv_showBranding_wildtransport .shop-content .shop-info,
.aetv_showBranding_wildtransport .video-tile-bottom {
  background: rgb(254,182,48)!important;
}
.aetv_showBranding_wildtransport .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(254,182,48)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_wildtransport .generic-tile .body .headline,
.aetv_showBranding_wildtransport .shop-content .shop-header,
.aetv_showBranding_wildtransport .tile .video-span {
  color: rgb(255,255,255);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_wildtransport .generic-tile .description,
.aetv_showBranding_wildtransport .shop-content .shop-text,
.aetv_showBranding_wildtransport .tile .video-content {
  color: rgb(40,32,36);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_wildtransport .video-state-text,
.aetv_showBranding_wildtransport .eg-hero .hero-text p.more_less {
  color: rgb(254,182,48);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_wildtransport #header .nav > ul > li a:hover,
.aetv_showBranding_wildtransport #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_wildtransport .episode-premier {
  background: rgb(242,237,224);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_wildtransport .custom-tw-tile {
  background: rgb(40,32,36);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_wildtransport #landing-gallery-filters,
.aetv_showBranding_wildtransport #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_wildtransport #sub-navigation .show-next a,
.aetv_showBranding_wildtransport #text-episode,
.aetv_showBranding_wildtransport #slideout-season-select,
.aetv_showBranding_wildtransport .bottom-bar,
.aetv_showBranding_wildtransport .show-video-landing #landing-video-filters,
.aetv_showBranding_wildtransport #sub-navigation {
  background-color: rgb(9,47,78)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_wildtransport #site_nav {
  background: rgb(52,42,47);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_wildtransport .season-archive .episode-tile .short-description-text,
.aetv_showBranding_wildtransport .season-archive .episode-tile .premiere-date,
.aetv_showBranding_wildtransport .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_wildtransport .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_wildtransport .season-archive .episode-tile .episode-description {
  color: rgb(40,32,36);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_wildtransport .allshows-most-popular h4,
.aetv_showBranding_wildtransport .cast-landing-page .page-title {
  color: rgb(40,32,36);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_wildtransport #bio-slideout span.quote-text {
  color: rgb(40,32,36)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_wildtransport .cast-tile .cast-action a {
  color: rgb(254,182,48)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_wildtransport .video-landing-section-title span.title_showname {
  color: rgb(40,32,36)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_wildtransport span.script.title_video {
  color: rgb(40,32,36)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_wildtransport .video-landing-section-title span.title_colon {
  color: rgb(40,32,36)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_wildtransport .video-landing-section-title span.title_type {
  color: rgb(40,32,36)!important;
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(242,237,224);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(254,182,48);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_wildtransport #site_nav .top_row #show_title a {
  color: rgb(254,182,48);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(254,182,48);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(242,237,224);}
}/* fieldname: field_css_page_bkgrd_image  */
.aetv_showBranding_wildtransport #wrapper:not(.mobile_wrapper) .inner-page {
  background: transparent url(http://s3.aetv.com/wild-transport-background-image_0.jpg) 0 0 / auto 100% repeat-x; 
}
.aetv_showBranding_wildtransport div.hero-image-crop div.gradient {
  width: 0!important;
}
.aetv_showBranding_wildtransport div.hero-image-crop {
  width: 100%!important;
  overflow: hidden;
}
.aetv_showBranding_wildtransport div.hero-image-crop .hero-image {
  width: auto;
  height: 100%;
}
.aetv_showBranding_wildtransport .exclusives-landing-inner-page div.column.main,
.aetv_showBranding_wildtransport #ech-container {
  background: transparent;
}/* fieldname: css_node_css  */
.aetv_showBranding_wildtransport .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text {color: #ffffff !important;}

.aetv_showBranding_wildtransport .shop-content .network-logo {
background-color: rgb(40,32,36)!important;
}

.aetv_showBranding_wildtransport .shop-content .cta {color: rgb(40,32,36) !important;}

.aetv_showBranding_wildtransport  a.aetv-modal-link {color: rgb(40,32,36);}

.aetv_showBranding_wildtransport .show-video-landing h1 {color: rgb(254,182,48);}