/* fieldname: css_node_css  */
.shop-content .shop-info { background: #179776; }

.aetv_showBranding_luckygreen .close-modal a, .aetv_showBranding_luckygreen .video-close-modal a { background-image: url(/profiles/aetv/themes/custom/aetv/images/close-button-x.png) !important; }

.aetv_showBranding_luckygreen #slideout-season-select .season-selector {
    background-image: url(https://aetvminisites.s3.amazonaws.com/storage-wars/images/rebrand/seasonsButton.png);
}
