/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_wahlburgers #container #picture_stage a.prev,
.aetv_showBranding_wahlburgers #container #picture_stage a.next,
.aetv_showBranding_wahlburgers #header #mobile-menu_top,
.aetv_showBranding_wahlburgers .mobile_wrapper #header,
.aetv_showBranding_wahlburgers .shop-content .network-logo {
  background-color: rgb(55,165,46)!important;
}
.aetv_showBranding_wahlburgers .scroll-button {
  background: rgb(55,165,46);
  background: rgba(55,165,46, 0.3);
}
.aetv_showBranding_wahlburgers .scroll-button:hover {
  background: rgb(55,165,46);
  background: rgba(55,165,46, 0.9);
}
.aetv_showBranding_wahlburgers .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_wahlburgers .season-archive .episode-tile .episode-name,
.aetv_showBranding_wahlburgers .video-landing-section-title h2 span,
.aetv_showBranding_wahlburgers .video-landing-section-title span,
.aetv_showBranding_wahlburgers .video-landing-section-title h1 span,
.aetv_showBranding_wahlburgers #full-episodes-column-title h1:not(span),
.aetv_showBranding_wahlburgers #bio-slideout .cast-header,
.aetv_showBranding_wahlburgers #bio-slideout h3.cast-header-sm,
.aetv_showBranding_wahlburgers .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_wahlburgers .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_wahlburgers .cast-bio-page h2.episode-title.darker-text {
  color: rgb(55,165,46)!important;
}

.aetv_showBranding_wahlburgers #container #picture_selector ul li img {
  border-color: rgb(55,165,46)!important;
}
.aetv_showBranding_wahlburgers .mobile_wrapper .show-navigation .social {
    background: rgb(55,165,46)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_wahlburgers .exclusive-tile p.cta,
.aetv_showBranding_wahlburgers .video-landing-section-title :not(span),
.aetv_showBranding_wahlburgers #full-episodes-column-title h1 span,
.aetv_showBranding_wahlburgers .cast-tile .cast-name a,
.aetv_showBranding_wahlburgers .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_wahlburgers .episode-premier *,
.aetv_showBranding_wahlburgers div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_wahlburgers .custom-tw-tile .note_title a {
  color: rgb(255,255,255)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_wahlburgers .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_wahlburgers .generic-tile:hover .cta,
.aetv_showBranding_wahlburgers .exclusive-tile:hover p.cta,
.aetv_showBranding_wahlburgers .cast-panel:hover .bio-link,
.aetv_showBranding_wahlburgers .cast-action a:hover,
.aetv_showBranding_wahlburgers .tile:hover .watch-now a,
.aetv_showBranding_wahlburgers .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_wahlburgers .shop-content:hover .cta,
.aetv_showBranding_wahlburgers div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_wahlburgers .exclusive-tile .exclusive-copy p {
  color: rgb(33,42,39)!important;
}
.aetv_showBranding_wahlburgers .scroll-button .button-tip {
  background-color: rgb(33,42,39);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_wahlburgers #site_nav .top_row #show_nav > li.active > a {
  color: rgb(255,255,255);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_wahlburgers  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(56,55,55);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_wahlburgers div.exclusive-copy,
.aetv_showBranding_wahlburgers .cast-group-landing-page .caption,
.aetv_showBranding_wahlburgers .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_wahlburgers .cast-member-panel,
.aetv_showBranding_wahlburgers .generic-tile .body,
.aetv_showBranding_wahlburgers .shop-content .shop-info,
.aetv_showBranding_wahlburgers .video-tile-bottom {
  background: rgb(55,165,46)!important;
}
.aetv_showBranding_wahlburgers .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(55,165,46)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_wahlburgers .generic-tile .body .headline,
.aetv_showBranding_wahlburgers .shop-content .shop-header,
.aetv_showBranding_wahlburgers .tile .video-span {
  color: rgb(255,255,255);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_wahlburgers .generic-tile .description,
.aetv_showBranding_wahlburgers .shop-content .shop-text,
.aetv_showBranding_wahlburgers .tile .video-content {
  color: rgb(56,55,55);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_wahlburgers .video-state-text,
.aetv_showBranding_wahlburgers .eg-hero .hero-text p.more_less {
  color: rgb(55,165,35);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_wahlburgers #header .nav > ul > li a:hover,
.aetv_showBranding_wahlburgers #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_wahlburgers .episode-premier {
  background: rgb(55,165,35);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_wahlburgers .custom-tw-tile {
  background: rgb(56,55,55);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_wahlburgers #landing-gallery-filters,
.aetv_showBranding_wahlburgers #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_wahlburgers #sub-navigation .show-next a,
.aetv_showBranding_wahlburgers #text-episode,
.aetv_showBranding_wahlburgers #slideout-season-select,
.aetv_showBranding_wahlburgers .bottom-bar,
.aetv_showBranding_wahlburgers .show-video-landing #landing-video-filters,
.aetv_showBranding_wahlburgers #sub-navigation {
  background-color: rgb(29,44,39)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_wahlburgers #site_nav {
  background: rgb(55,165,46);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_wahlburgers .season-archive .episode-tile .short-description-text,
.aetv_showBranding_wahlburgers .season-archive .episode-tile .premiere-date,
.aetv_showBranding_wahlburgers .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_wahlburgers .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_wahlburgers .season-archive .episode-tile .episode-description {
  color: rgb(255,255,255);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_wahlburgers .allshows-most-popular h4,
.aetv_showBranding_wahlburgers .cast-landing-page .page-title {
  color: rgb(55,165,46);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_wahlburgers #bio-slideout span.quote-text {
  color: rgb(55,165,46)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_wahlburgers .cast-tile .cast-action a {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_wahlburgers .video-landing-section-title span.title_showname {
  color: rgb(55,165,46)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_wahlburgers span.script.title_video {
  color: rgb(55,165,46)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_wahlburgers .video-landing-section-title span.title_colon {
  color: rgb(55,165,46)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_wahlburgers .video-landing-section-title span.title_type {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_twenty_second_color  */
@media (max-width: 1023px) {
  #show_nav {
    background: rgba(0,0,0,0.8);
    background: -webkit-linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
    background: -o-linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
    background: -moz-linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
    background: linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
  }
}
div.hamburger.show.open {
  background: rgb(0,0,0);
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(55,93,47);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(255,255,255);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_wahlburgers #site_nav .top_row #show_title a {
  color: rgb(255,255,255);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(55,165,46);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(55,93,47);}
}/* fieldname: field_css_page_bkgrd_image  */
.aetv_showBranding_wahlburgers #wrapper:not(.mobile_wrapper) .inner-page {
  background: transparent url(http://qa2.aetvcdn.aetndigital.com/wahlburgers_bg_1.jpg) 0 0 / auto 100% repeat-x; 
}
.aetv_showBranding_wahlburgers div.hero-image-crop div.gradient {
  width: 0!important;
}
.aetv_showBranding_wahlburgers div.hero-image-crop {
  width: 100%!important;
  overflow: hidden;
}
.aetv_showBranding_wahlburgers div.hero-image-crop .hero-image {
  width: auto;
  height: 100%;
}
.aetv_showBranding_wahlburgers .exclusives-landing-inner-page div.column.main,
.aetv_showBranding_wahlburgers #ech-container {
  background: transparent;
}/* fieldname: css_node_css  */
.aetv_showBranding_wahlburgers #site_nav { background-color: #37a523; }
.aetv_showBranding_wahlburgers .exclusive-page .header {
  background: url(https://aetvminisites.s3.amazonaws.com/wahlburgers/images/rebrand/exclusives-header.jpg);
  background-size: cover;
}

.aetv_showBranding_wahlburgers #game-container {
  background-color: rgb(55,44,48);
}

/* Exclusives */
.aetv_showBranding_wahlburgers .drupal-type-exclusives.dte-recipe div.recipe_nav h3 {
  background: #37a52e;
  color: #fff;
}

.aetv_showBranding_wahlburgers .drupal-type-exclusives.dte-recipe div.recipe_nav ul li a,
.aetv_showBranding_wahlburgers .drupal-type-exclusives.dte-recipe div.recipe_nav ul li a span,
.aetv_showBranding_wahlburgers .drupal-type-exclusives.dte-recipe div.recipes h3,
.aetv_showBranding_wahlburgers .drupal-type-exclusives.dte-recipe div.recipes h3 a {
  color: #37a52e;
}
.aetv_showBranding_wahlburgers .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy {background: #37a52e;}





/*.aetv_showBranding_wahlburgers #site_nav { background-color: #382b20; }*/
.aetv_showBranding_wahlburgers div.exclusive-copy,
.aetv_showBranding_wahlburgers .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy {background: rgb(55,165,46);}

.aetv_showBranding_wahlburgers .no-touch #site_nav #show_nav > li:last-child > a:hover {background-color: transparent!important}

.aetv_showBranding_wahlburgers  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(56,55,55);
}
.aetv_showBranding_wahlburgers .allshows-most-popular h4,
.aetv_showBranding_wahlburgers .cast-landing-page .page-title {color: #fff}

.aetv_showBranding_wahlburgers .mobile_wrapper .show-navigation .social {background: rgb(55,165,46) !important;}

.aetv_showBranding_wahlburgers #landing-gallery-filters {
  background-color: rgb(29,44,39)!important;
}
