/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_lonestarlady #container #picture_stage a.prev,
.aetv_showBranding_lonestarlady #container #picture_stage a.next,
.aetv_showBranding_lonestarlady #header #mobile-menu_top,
.aetv_showBranding_lonestarlady .mobile_wrapper #header,
.aetv_showBranding_lonestarlady .shop-content .network-logo {
  background-color: rgb(174,0,122)!important;
}
.aetv_showBranding_lonestarlady .scroll-button {
  background: rgb(174,0,122);
  background: rgba(174,0,122, 0.3);
}
.aetv_showBranding_lonestarlady .scroll-button:hover {
  background: rgb(174,0,122);
  background: rgba(174,0,122, 0.9);
}
.aetv_showBranding_lonestarlady .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .episode-name,
.aetv_showBranding_lonestarlady .video-landing-section-title h2 span,
.aetv_showBranding_lonestarlady .video-landing-section-title span,
.aetv_showBranding_lonestarlady .video-landing-section-title h1 span,
.aetv_showBranding_lonestarlady #full-episodes-column-title h1:not(span),
.aetv_showBranding_lonestarlady #bio-slideout .cast-header,
.aetv_showBranding_lonestarlady #bio-slideout h3.cast-header-sm,
.aetv_showBranding_lonestarlady .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_lonestarlady .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_lonestarlady .cast-bio-page h2.episode-title.darker-text {
  color: rgb(174,0,122)!important;
}

.aetv_showBranding_lonestarlady #container #picture_selector ul li img {
  border-color: rgb(174,0,122)!important;
}
.aetv_showBranding_lonestarlady .mobile_wrapper .show-navigation .social {
    background: rgb(174,0,122)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_lonestarlady .exclusive-tile p.cta,
.aetv_showBranding_lonestarlady .video-landing-section-title :not(span),
.aetv_showBranding_lonestarlady #full-episodes-column-title h1 span,
.aetv_showBranding_lonestarlady .cast-tile .cast-name a,
.aetv_showBranding_lonestarlady .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_lonestarlady .episode-premier *,
.aetv_showBranding_lonestarlady div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_lonestarlady .custom-tw-tile .note_title a {
  color: rgb(255,255,255)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_lonestarlady .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_lonestarlady .generic-tile:hover .cta,
.aetv_showBranding_lonestarlady .exclusive-tile:hover p.cta,
.aetv_showBranding_lonestarlady .cast-panel:hover .bio-link,
.aetv_showBranding_lonestarlady .cast-action a:hover,
.aetv_showBranding_lonestarlady .tile:hover .watch-now a,
.aetv_showBranding_lonestarlady .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_lonestarlady .shop-content:hover .cta,
.aetv_showBranding_lonestarlady div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_lonestarlady .exclusive-tile .exclusive-copy p {
  color: rgb(32,31,31)!important;
}
.aetv_showBranding_lonestarlady .scroll-button .button-tip {
  background-color: rgb(32,31,31);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_lonestarlady #site_nav .top_row #show_nav > li.active > a {
  color: rgb(255,255,255);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_lonestarlady  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(219,138,49);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_lonestarlady div.exclusive-copy,
.aetv_showBranding_lonestarlady .cast-group-landing-page .caption,
.aetv_showBranding_lonestarlady .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_lonestarlady .cast-member-panel,
.aetv_showBranding_lonestarlady .generic-tile .body,
.aetv_showBranding_lonestarlady .shop-content .shop-info,
.aetv_showBranding_lonestarlady .video-tile-bottom {
  background: rgb(174,0,122)!important;
}
.aetv_showBranding_lonestarlady .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(174,0,122)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_lonestarlady .generic-tile .body .headline,
.aetv_showBranding_lonestarlady .shop-content .shop-header,
.aetv_showBranding_lonestarlady .tile .video-span {
  color: rgb(219,138,49);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_lonestarlady .generic-tile .description,
.aetv_showBranding_lonestarlady .shop-content .shop-text,
.aetv_showBranding_lonestarlady .tile .video-content {
  color: rgb(32,31,31);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_lonestarlady .video-state-text,
.aetv_showBranding_lonestarlady .eg-hero .hero-text p.more_less {
  color: rgb(174,0,122);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_lonestarlady #header .nav > ul > li a:hover,
.aetv_showBranding_lonestarlady #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_lonestarlady .episode-premier {
  background: rgb(174,0,122);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_lonestarlady .custom-tw-tile {
  background: rgb(219,138,49);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_lonestarlady #landing-gallery-filters,
.aetv_showBranding_lonestarlady #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_lonestarlady #sub-navigation .show-next a,
.aetv_showBranding_lonestarlady #text-episode,
.aetv_showBranding_lonestarlady #slideout-season-select,
.aetv_showBranding_lonestarlady .bottom-bar,
.aetv_showBranding_lonestarlady .show-video-landing #landing-video-filters,
.aetv_showBranding_lonestarlady #sub-navigation {
  background-color: rgb(174,0,122)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_lonestarlady #site_nav {
  background: rgb(174,0,122);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_lonestarlady .season-archive .episode-tile .short-description-text,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .premiere-date,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .episode-description {
  color: rgb(174,0,122);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_lonestarlady .allshows-most-popular h4,
.aetv_showBranding_lonestarlady .cast-landing-page .page-title {
  color: rgb(0,0,0);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_lonestarlady #bio-slideout span.quote-text {
  color: rgb(174,0,122)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_lonestarlady .cast-tile .cast-action a {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_lonestarlady .video-landing-section-title span.title_showname {
  color: rgb(174,0,122)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_lonestarlady span.script.title_video {
  color: rgb(174,0,122)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_lonestarlady .video-landing-section-title span.title_colon {
  color: rgb(174,0,122)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_lonestarlady .video-landing-section-title span.title_type {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(93,1,67);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(255,255,255);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_lonestarlady #site_nav .top_row #show_title a {
  color: rgb(255,255,255);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(174,0,122);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(93,1,67);}
}/* fieldname: field_css_page_bkgrd_image  */
.aetv_showBranding_lonestarlady #wrapper:not(.mobile_wrapper) .inner-page {
  background: transparent url(http://s3.aetv.com/background-texture_5.jpg) 0 0 / auto 100% repeat-x; 
}
.aetv_showBranding_lonestarlady div.hero-image-crop div.gradient {
  width: 0!important;
}
.aetv_showBranding_lonestarlady div.hero-image-crop {
  width: 100%!important;
  overflow: hidden;
}
.aetv_showBranding_lonestarlady div.hero-image-crop .hero-image {
  width: auto;
  height: 100%;
}
.aetv_showBranding_lonestarlady .exclusives-landing-inner-page div.column.main,
.aetv_showBranding_lonestarlady #ech-container {
  background: transparent;
}/* fieldname: field_css_logo_bkgrd_image  */
.aetv_showBranding_lonestarlady #wrapper:not(.mobile_wrapper) #header #logo_bo,
.aetv_showBranding_lonestarlady #wrapper:not(.mobile_wrapper) #header #logo_ae {
  visibility: hidden;
}
.aetv_showBranding_lonestarlady #wrapper:not(.mobile_wrapper) #header #header_logo a {
  background: url(http://s3.aetv.com/mainlogo_2.png) 0 0  no-repeat;
  display: block;
  width: 150px;
  height: 30px;
  background-size: contain;
  margin: 8px 0 0 18px;
}

.aetv_showBranding_lonestarlady #header #header_logo a {
  background-image: url(http://s3.aetv.com/mainlogo_2.png);
}/* fieldname: css_node_css  */
.aetv_showBranding_lonestarlady .cast-tile .cast-action a {color: rgb(255,255,255);}
.aetv_showBranding_lonestarlady .season-archive .episode-tile .episode-name,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .watch-episode-text a,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .short-description-text,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .premiere-date,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_lonestarlady .season-archive .episode-tile .episode-description {
  color: rgb(255,255,255)!important;}

.aetv_showBranding_lonestarlady .mobile_wrapper #header {background-color: #ae007a!important;}

.aetv_showBranding_lonestarlady  .show-video-landing h1 {color: #5d0143}