/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_nightwatch #container #picture_stage a.prev,
.aetv_showBranding_nightwatch #container #picture_stage a.next,
.aetv_showBranding_nightwatch #header #mobile-menu_top,
.aetv_showBranding_nightwatch .mobile_wrapper #header,
.aetv_showBranding_nightwatch .shop-content .network-logo {
  background-color: rgb(25,33,70)!important;
}
.aetv_showBranding_nightwatch .scroll-button {
  background: rgb(25,33,70);
  background: rgba(25,33,70, 0.3);
}
.aetv_showBranding_nightwatch .scroll-button:hover {
  background: rgb(25,33,70);
  background: rgba(25,33,70, 0.9);
}
.aetv_showBranding_nightwatch .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_nightwatch .season-archive .episode-tile .episode-name,
.aetv_showBranding_nightwatch .video-landing-section-title h2 span,
.aetv_showBranding_nightwatch .video-landing-section-title span,
.aetv_showBranding_nightwatch .video-landing-section-title h1 span,
.aetv_showBranding_nightwatch #full-episodes-column-title h1:not(span),
.aetv_showBranding_nightwatch #bio-slideout .cast-header,
.aetv_showBranding_nightwatch #bio-slideout h3.cast-header-sm,
.aetv_showBranding_nightwatch .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_nightwatch .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_nightwatch .cast-bio-page h2.episode-title.darker-text {
  color: rgb(25,33,70)!important;
}

.aetv_showBranding_nightwatch #container #picture_selector ul li img {
  border-color: rgb(25,33,70)!important;
}
.aetv_showBranding_nightwatch .mobile_wrapper .show-navigation .social {
    background: rgb(25,33,70)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_nightwatch .exclusive-tile p.cta,
.aetv_showBranding_nightwatch .video-landing-section-title :not(span),
.aetv_showBranding_nightwatch #full-episodes-column-title h1 span,
.aetv_showBranding_nightwatch .cast-tile .cast-name a,
.aetv_showBranding_nightwatch .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_nightwatch .episode-premier *,
.aetv_showBranding_nightwatch div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_nightwatch .custom-tw-tile .note_title a {
  color: rgb(242,237,224)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_nightwatch .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_nightwatch .generic-tile:hover .cta,
.aetv_showBranding_nightwatch .exclusive-tile:hover p.cta,
.aetv_showBranding_nightwatch .cast-panel:hover .bio-link,
.aetv_showBranding_nightwatch .cast-action a:hover,
.aetv_showBranding_nightwatch .tile:hover .watch-now a,
.aetv_showBranding_nightwatch .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_nightwatch .shop-content:hover .cta,
.aetv_showBranding_nightwatch div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_nightwatch .exclusive-tile .exclusive-copy p {
  color: rgb(238,234,90)!important;
}
.aetv_showBranding_nightwatch .scroll-button .button-tip {
  background-color: rgb(238,234,90);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_nightwatch #site_nav .top_row #show_nav > li.active > a {
  color: rgb(255,255,255);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_nightwatch  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(25,33,70);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_nightwatch div.exclusive-copy,
.aetv_showBranding_nightwatch .cast-group-landing-page .caption,
.aetv_showBranding_nightwatch .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_nightwatch .cast-member-panel,
.aetv_showBranding_nightwatch .generic-tile .body,
.aetv_showBranding_nightwatch .shop-content .shop-info,
.aetv_showBranding_nightwatch .video-tile-bottom {
  background: rgb(25,33,70)!important;
}
.aetv_showBranding_nightwatch .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(25,33,70)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_nightwatch .generic-tile .body .headline,
.aetv_showBranding_nightwatch .shop-content .shop-header,
.aetv_showBranding_nightwatch .tile .video-span {
  color: rgb(238,234,91);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_nightwatch .generic-tile .description,
.aetv_showBranding_nightwatch .shop-content .shop-text,
.aetv_showBranding_nightwatch .tile .video-content {
  color: rgb(242,237,224);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_nightwatch .video-state-text,
.aetv_showBranding_nightwatch .eg-hero .hero-text p.more_less {
  color: rgb(238,234,91);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_nightwatch #header .nav > ul > li a:hover,
.aetv_showBranding_nightwatch #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_nightwatch .episode-premier {
  background: rgb(25,33,70);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_nightwatch .custom-tw-tile {
  background: rgb(25,33,70);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_nightwatch #landing-gallery-filters,
.aetv_showBranding_nightwatch #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_nightwatch #sub-navigation .show-next a,
.aetv_showBranding_nightwatch #text-episode,
.aetv_showBranding_nightwatch #slideout-season-select,
.aetv_showBranding_nightwatch .bottom-bar,
.aetv_showBranding_nightwatch .show-video-landing #landing-video-filters,
.aetv_showBranding_nightwatch #sub-navigation {
  background-color: rgb(25,33,70)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_nightwatch #site_nav {
  background: rgb(25,33,70);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_nightwatch .season-archive .episode-tile .short-description-text,
.aetv_showBranding_nightwatch .season-archive .episode-tile .premiere-date,
.aetv_showBranding_nightwatch .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_nightwatch .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_nightwatch .season-archive .episode-tile .episode-description {
  color: rgb(25,33,70);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_nightwatch .allshows-most-popular h4,
.aetv_showBranding_nightwatch .cast-landing-page .page-title {
  color: rgb(238,234,91);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_nightwatch #bio-slideout span.quote-text {
  color: rgb(25,33,70)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_nightwatch .cast-tile .cast-action a {
  color: rgb(238,234,91)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_nightwatch .video-landing-section-title span.title_showname {
  color: rgb(238,234,91)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_nightwatch span.script.title_video {
  color: rgb(238,234,91)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_nightwatch .video-landing-section-title span.title_colon {
  color: rgb(238,234,91)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_nightwatch .video-landing-section-title span.title_type {
  color: rgb(238,234,91)!important;
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(238,234,91);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(242,237,224);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_nightwatch #site_nav .top_row #show_title a {
  color: rgb(238,234,91);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(238,234,91);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(242,237,224);}
}/* fieldname: field_css_page_bkgrd_image  */
.aetv_showBranding_nightwatch #wrapper:not(.mobile_wrapper) .inner-page {
  background: transparent url(http://s3.aetv.com/background-texture_26.jpg) 0 0 / auto 100% repeat-x; 
}
.aetv_showBranding_nightwatch div.hero-image-crop div.gradient {
  width: 0!important;
}
.aetv_showBranding_nightwatch div.hero-image-crop {
  width: 100%!important;
  overflow: hidden;
}
.aetv_showBranding_nightwatch div.hero-image-crop .hero-image {
  width: auto;
  height: 100%;
}
.aetv_showBranding_nightwatch .exclusives-landing-inner-page div.column.main,
.aetv_showBranding_nightwatch #ech-container {
  background: transparent;
}/* fieldname: css_node_css  */
.aetv_showBranding_nightwatch .shop-content .network-logo {background-color: #192146 !important;}

.aetv_showBranding_nightwatch #bio-slideout h3.cast-header-sm {color: #192146 !important;}

.aetv_showBranding_nightwatch .scroll-button .button-tip .description a {color: #192146 !important;}

.aetv_showBranding_nightwatchneworleans .video-tile-bottom {
background: rgb(238,234,91)!important;
}


.aetv_showBranding_nightwatchneworleans .scroll-button {
  background: rgb(238,234,91) !important;
  background: rgba(238,234,91,0.3) !important;
}

.aetv_showBranding_nightwatchneworleans .scroll-button:hover {
  background: rgb(238,234,91) !important;
  background: rgba(238,234,91,0.9) !important;
}

.aetv_showBranding_nightwatch .tile.custom-tw-tile .quote-text a {color: #eeea5b !important;}

.aetv_showBranding_nightwatch .mobile_wrapper #header {background-color: #192146 !important:}