/* fieldname: css_node_css  */
.aetv_showBranding_aeindiefilms #nav_exclusives a {
  visibility: hidden;
  position: relative;
}
.aetv_showBranding_aeindiefilms #nav_exclusives a:after {
  content: 'FILMS';
  visibility: visible;
  position: absolute;
  left: 0;
}