/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_sexybeasts #container #picture_stage a.prev,
.aetv_showBranding_sexybeasts #container #picture_stage a.next,
.aetv_showBranding_sexybeasts #header #mobile-menu_top,
.aetv_showBranding_sexybeasts .mobile_wrapper #header,
.aetv_showBranding_sexybeasts .shop-content .network-logo {
  background-color: rgb(185,30,75)!important;
}
.aetv_showBranding_sexybeasts .scroll-button {
  background: rgb(185,30,75);
  background: rgba(185,30,75, 0.3);
}
.aetv_showBranding_sexybeasts .scroll-button:hover {
  background: rgb(185,30,75);
  background: rgba(185,30,75, 0.9);
}
.aetv_showBranding_sexybeasts .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_sexybeasts .season-archive .episode-tile .episode-name,
.aetv_showBranding_sexybeasts .video-landing-section-title h2 span,
.aetv_showBranding_sexybeasts .video-landing-section-title span,
.aetv_showBranding_sexybeasts .video-landing-section-title h1 span,
.aetv_showBranding_sexybeasts #full-episodes-column-title h1:not(span),
.aetv_showBranding_sexybeasts #bio-slideout .cast-header,
.aetv_showBranding_sexybeasts #bio-slideout h3.cast-header-sm,
.aetv_showBranding_sexybeasts .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_sexybeasts .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_sexybeasts .cast-bio-page h2.episode-title.darker-text {
  color: rgb(185,30,75)!important;
}

.aetv_showBranding_sexybeasts #container #picture_selector ul li img {
  border-color: rgb(185,30,75)!important;
}
.aetv_showBranding_sexybeasts .mobile_wrapper .show-navigation .social {
    background: rgb(185,30,75)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_sexybeasts .exclusive-tile p.cta,
.aetv_showBranding_sexybeasts .video-landing-section-title :not(span),
.aetv_showBranding_sexybeasts #full-episodes-column-title h1 span,
.aetv_showBranding_sexybeasts .cast-tile .cast-name a,
.aetv_showBranding_sexybeasts .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_sexybeasts .episode-premier *,
.aetv_showBranding_sexybeasts div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_sexybeasts .custom-tw-tile .note_title a {
  color: rgb(42,31,36)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_sexybeasts .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_sexybeasts .generic-tile:hover .cta,
.aetv_showBranding_sexybeasts .exclusive-tile:hover p.cta,
.aetv_showBranding_sexybeasts .cast-panel:hover .bio-link,
.aetv_showBranding_sexybeasts .cast-action a:hover,
.aetv_showBranding_sexybeasts .tile:hover .watch-now a,
.aetv_showBranding_sexybeasts .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_sexybeasts .shop-content:hover .cta,
.aetv_showBranding_sexybeasts div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_sexybeasts .exclusive-tile .exclusive-copy p {
  color: rgb(242,238,224)!important;
}
.aetv_showBranding_sexybeasts .scroll-button .button-tip {
  background-color: rgb(242,238,224);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_sexybeasts #site_nav .top_row #show_nav > li.active > a {
  color: rgb(42,31,36);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_sexybeasts  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(42,31,36);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_sexybeasts div.exclusive-copy,
.aetv_showBranding_sexybeasts .cast-group-landing-page .caption,
.aetv_showBranding_sexybeasts .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_sexybeasts .cast-member-panel,
.aetv_showBranding_sexybeasts .generic-tile .body,
.aetv_showBranding_sexybeasts .shop-content .shop-info,
.aetv_showBranding_sexybeasts .video-tile-bottom {
  background: rgb(185,30,75)!important;
}
.aetv_showBranding_sexybeasts .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(185,30,75)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_sexybeasts .generic-tile .body .headline,
.aetv_showBranding_sexybeasts .shop-content .shop-header,
.aetv_showBranding_sexybeasts .tile .video-span {
  color: rgb(42,31,36);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_sexybeasts .generic-tile .description,
.aetv_showBranding_sexybeasts .shop-content .shop-text,
.aetv_showBranding_sexybeasts .tile .video-content {
  color: rgb(242,238,224);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_sexybeasts .video-state-text,
.aetv_showBranding_sexybeasts .eg-hero .hero-text p.more_less {
  color: rgb(185,30,75);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_sexybeasts #header .nav > ul > li a:hover,
.aetv_showBranding_sexybeasts #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_sexybeasts .episode-premier {
  background: rgb(42,31,36);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_sexybeasts .custom-tw-tile {
  background: rgb(242,238,224);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_sexybeasts #landing-gallery-filters,
.aetv_showBranding_sexybeasts #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_sexybeasts #sub-navigation .show-next a,
.aetv_showBranding_sexybeasts #text-episode,
.aetv_showBranding_sexybeasts #slideout-season-select,
.aetv_showBranding_sexybeasts .bottom-bar,
.aetv_showBranding_sexybeasts .show-video-landing #landing-video-filters,
.aetv_showBranding_sexybeasts #sub-navigation {
  background-color: rgb(42,31,36)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_sexybeasts #site_nav {
  background: rgb(185,30,75);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_sexybeasts .season-archive .episode-tile .short-description-text,
.aetv_showBranding_sexybeasts .season-archive .episode-tile .premiere-date,
.aetv_showBranding_sexybeasts .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_sexybeasts .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_sexybeasts .season-archive .episode-tile .episode-description {
  color: rgb(242,238,224);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_sexybeasts .allshows-most-popular h4,
.aetv_showBranding_sexybeasts .cast-landing-page .page-title {
  color: rgb(242,238,224);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_sexybeasts #bio-slideout span.quote-text {
  color: rgb(242,238,224)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_sexybeasts .cast-tile .cast-action a {
  color: rgb(185,30,75)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_sexybeasts .video-landing-section-title span.title_showname {
  color: rgb(242,238,224)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_sexybeasts span.script.title_video {
  color: rgb(242,238,224)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_sexybeasts .video-landing-section-title span.title_colon {
  color: rgb(242,238,224)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_sexybeasts .video-landing-section-title span.title_type {
  color: rgb(242,238,224)!important;
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(242,238,224);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(42,31,36);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_sexybeasts #site_nav .top_row #show_title a {
  color: rgb(42,31,36);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(242,238,224);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(185,30,75);}
}/* fieldname: field_css_page_bkgrd_image  */
.aetv_showBranding_sexybeasts #wrapper:not(.mobile_wrapper) .inner-page {
  background: transparent url(http://s3.aetv.com/sexy-beast-wallpaper_1.jpg) 0 0 / auto 100% repeat-x; 
}
.aetv_showBranding_sexybeasts div.hero-image-crop div.gradient {
  width: 0!important;
}
.aetv_showBranding_sexybeasts div.hero-image-crop {
  width: 100%!important;
  overflow: hidden;
}
.aetv_showBranding_sexybeasts div.hero-image-crop .hero-image {
  width: auto;
  height: 100%;
}
.aetv_showBranding_sexybeasts .exclusives-landing-inner-page div.column.main,
.aetv_showBranding_sexybeasts #ech-container {
  background: transparent;
}/* fieldname: css_node_css  */
.aetv_showBranding_sexybeasts .season-archive .episode-tile .episode-name {color: #e3426f!important;}

.aetv_showBranding_sexybeasts span.archive-hero-series-name .season-archive .description-text .archive-hero-season-number {color: #ffffff!important;}