/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_epicink #container #picture_stage a.prev,
.aetv_showBranding_epicink #container #picture_stage a.next,
.aetv_showBranding_epicink #header #mobile-menu_top,
.aetv_showBranding_epicink .mobile_wrapper #header,
.aetv_showBranding_epicink .shop-content .network-logo {
  background-color: rgb(133,15,18)!important;
}
.aetv_showBranding_epicink .scroll-button {
  background: rgb(133,15,18);
  background: rgba(133,15,18, 0.3);
}
.aetv_showBranding_epicink .scroll-button:hover {
  background: rgb(133,15,18);
  background: rgba(133,15,18, 0.9);
}
.aetv_showBranding_epicink .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_epicink .season-archive .episode-tile .episode-name,
.aetv_showBranding_epicink .video-landing-section-title h2 span,
.aetv_showBranding_epicink .video-landing-section-title span,
.aetv_showBranding_epicink .video-landing-section-title h1 span,
.aetv_showBranding_epicink #full-episodes-column-title h1:not(span),
.aetv_showBranding_epicink #bio-slideout .cast-header,
.aetv_showBranding_epicink #bio-slideout h3.cast-header-sm,
.aetv_showBranding_epicink .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_epicink .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_epicink .cast-bio-page h2.episode-title.darker-text {
  color: rgb(133,15,18)!important;
}

.aetv_showBranding_epicink #container #picture_selector ul li img {
  border-color: rgb(133,15,18)!important;
}
.aetv_showBranding_epicink .mobile_wrapper .show-navigation .social {
    background: rgb(133,15,18)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_epicink .exclusive-tile p.cta,
.aetv_showBranding_epicink .video-landing-section-title :not(span),
.aetv_showBranding_epicink #full-episodes-column-title h1 span,
.aetv_showBranding_epicink .cast-tile .cast-name a,
.aetv_showBranding_epicink .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_epicink .episode-premier *,
.aetv_showBranding_epicink div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_epicink .custom-tw-tile .note_title a {
  color: rgb(255,255,255)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_epicink .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_epicink .generic-tile:hover .cta,
.aetv_showBranding_epicink .exclusive-tile:hover p.cta,
.aetv_showBranding_epicink .cast-panel:hover .bio-link,
.aetv_showBranding_epicink .cast-action a:hover,
.aetv_showBranding_epicink .tile:hover .watch-now a,
.aetv_showBranding_epicink .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_epicink .shop-content:hover .cta,
.aetv_showBranding_epicink div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_epicink .exclusive-tile .exclusive-copy p {
  color: rgb(227,209,0)!important;
}
.aetv_showBranding_epicink .scroll-button .button-tip {
  background-color: rgb(227,209,0);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_epicink #site_nav .top_row #show_nav > li.active > a {
  color: rgb(255,255,255);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_epicink  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(0,0,0);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_epicink div.exclusive-copy,
.aetv_showBranding_epicink .cast-group-landing-page .caption,
.aetv_showBranding_epicink .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_epicink .cast-member-panel,
.aetv_showBranding_epicink .generic-tile .body,
.aetv_showBranding_epicink .shop-content .shop-info,
.aetv_showBranding_epicink .video-tile-bottom {
  background: rgb(115,125,130)!important;
}
.aetv_showBranding_epicink .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(115,125,130)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_epicink .generic-tile .body .headline,
.aetv_showBranding_epicink .shop-content .shop-header,
.aetv_showBranding_epicink .tile .video-span {
  color: rgb(227,209,0);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_epicink .generic-tile .description,
.aetv_showBranding_epicink .shop-content .shop-text,
.aetv_showBranding_epicink .tile .video-content {
  color: rgb(255,255,255);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_epicink .video-state-text,
.aetv_showBranding_epicink .eg-hero .hero-text p.more_less {
  color: rgb(227,209,0);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_epicink #header .nav > ul > li a:hover,
.aetv_showBranding_epicink #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_epicink .episode-premier {
  background: rgb(227,209,0);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_epicink .custom-tw-tile {
  background: rgb(133,15,18);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_epicink #landing-gallery-filters,
.aetv_showBranding_epicink #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_epicink #sub-navigation .show-next a,
.aetv_showBranding_epicink #text-episode,
.aetv_showBranding_epicink #slideout-season-select,
.aetv_showBranding_epicink .bottom-bar,
.aetv_showBranding_epicink .show-video-landing #landing-video-filters,
.aetv_showBranding_epicink #sub-navigation {
  background-color: rgb(133,15,18)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_epicink #site_nav {
  background: rgb(133,15,18);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_epicink .season-archive .episode-tile .short-description-text,
.aetv_showBranding_epicink .season-archive .episode-tile .premiere-date,
.aetv_showBranding_epicink .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_epicink .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_epicink .season-archive .episode-tile .episode-description {
  color: rgb(255,255,255);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_epicink .allshows-most-popular h4,
.aetv_showBranding_epicink .cast-landing-page .page-title {
  color: rgb(255,255,255);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_epicink #bio-slideout span.quote-text {
  color: rgb(133,15,18)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_epicink .cast-tile .cast-action a {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_epicink .video-landing-section-title span.title_showname {
  color: rgb(227,209,0)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_epicink span.script.title_video {
  color: rgb(227,209,0)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_epicink .video-landing-section-title span.title_colon {
  color: rgb(227,209,0)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_epicink .video-landing-section-title span.title_type {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(227,209,0);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(255,255,255);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_epicink #site_nav .top_row #show_title a {
  color: rgb(255,255,255);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(227,209,0);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(133,15,18);}
}/* fieldname: field_css_page_bkgrd_image  */
.aetv_showBranding_epicink #wrapper:not(.mobile_wrapper) .inner-page {
  background: transparent url(http://s3.aetv.com/background-texture_11.jpg) 0 0 / auto 100% repeat-x; 
}
.aetv_showBranding_epicink div.hero-image-crop div.gradient {
  width: 0!important;
}
.aetv_showBranding_epicink div.hero-image-crop {
  width: 100%!important;
  overflow: hidden;
}
.aetv_showBranding_epicink div.hero-image-crop .hero-image {
  width: auto;
  height: 100%;
}
.aetv_showBranding_epicink .exclusives-landing-inner-page div.column.main,
.aetv_showBranding_epicink #ech-container {
  background: transparent;
}/* fieldname: field_css_logo_bkgrd_image  */
.aetv_showBranding_epicink #wrapper:not(.mobile_wrapper) #header #logo_bo,
.aetv_showBranding_epicink #wrapper:not(.mobile_wrapper) #header #logo_ae {
  visibility: hidden;
}
.aetv_showBranding_epicink #wrapper:not(.mobile_wrapper) #header #header_logo a {
  background: url(http://s3.aetv.com/ae-be-original-epic-ink.png) 0 0  no-repeat;
  display: block;
  width: 150px;
  height: 30px;
  background-size: contain;
  margin: 8px 0 0 18px;
}

.aetv_showBranding_epicink #header #header_logo a {
  background-image: url(http://s3.aetv.com/ae-be-original-epic-ink.png);
}/* fieldname: css_node_css  */
.aetv_showBranding_epicink  .show-video-landing h1 {color: #ffffff}

.aetv_showBranding_epicink .shop-content .network-logo {
    background-color: #737d82 !important;
}

.aetv_showBranding_epicink .tile:not(.custom-tw-tile) div:not(.cast-quote) .quote-text {
color: #850f12 !important;
}

.aetv_showBranding_epicink .cast-tile .cast-name a {
color: #000 !important;
}
.aetv_showBranding_epicink .cast-tile .cast-action a {
    color: #000 !important;
}
.aetv_showBranding_epicink .cast-tile .cast-action a:hover {
    color: #850f12 !important;
}
.aetv_showBranding_epicink .custom-fb-tile .quote-bubble {
background-color: transparent!important;
}
.aetv_showBranding_epicink .custom-fb-tile {
background: #beaf01;
}

.aetv_showBranding_epicink .ae-cast-tile {
     background: rgba(255, 255, 255, 0.5);
}

.aetv_showBranding_epicink .mobile_wrapper #header {background-color: #850f12!important;}

.aetv_showBranding_epicink .tile.custom-tw-tile .quote-text a {
color: #000 !important;
}