/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_marriedatfirstsight #container #picture_stage a.prev,
.aetv_showBranding_marriedatfirstsight #container #picture_stage a.next,
.aetv_showBranding_marriedatfirstsight #header #mobile-menu_top,
.aetv_showBranding_marriedatfirstsight .mobile_wrapper #header,
.aetv_showBranding_marriedatfirstsight .shop-content .network-logo {
  background-color: rgb(199,172,85)!important;
}
.aetv_showBranding_marriedatfirstsight .scroll-button {
  background: rgb(199,172,85);
  background: rgba(199,172,85, 0.3);
}
.aetv_showBranding_marriedatfirstsight .scroll-button:hover {
  background: rgb(199,172,85);
  background: rgba(199,172,85, 0.9);
}
.aetv_showBranding_marriedatfirstsight .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_marriedatfirstsight .season-archive .episode-tile .episode-name,
.aetv_showBranding_marriedatfirstsight .video-landing-section-title h2 span,
.aetv_showBranding_marriedatfirstsight .video-landing-section-title span,
.aetv_showBranding_marriedatfirstsight .video-landing-section-title h1 span,
.aetv_showBranding_marriedatfirstsight #full-episodes-column-title h1:not(span),
.aetv_showBranding_marriedatfirstsight #bio-slideout .cast-header,
.aetv_showBranding_marriedatfirstsight #bio-slideout h3.cast-header-sm,
.aetv_showBranding_marriedatfirstsight .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_marriedatfirstsight .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_marriedatfirstsight .cast-bio-page h2.episode-title.darker-text {
  color: rgb(199,172,85)!important;
}

.aetv_showBranding_marriedatfirstsight #container #picture_selector ul li img {
  border-color: rgb(199,172,85)!important;
}
.aetv_showBranding_marriedatfirstsight .mobile_wrapper .show-navigation .social {
    background: rgb(199,172,85)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_marriedatfirstsight .exclusive-tile p.cta,
.aetv_showBranding_marriedatfirstsight .video-landing-section-title :not(span),
.aetv_showBranding_marriedatfirstsight #full-episodes-column-title h1 span,
.aetv_showBranding_marriedatfirstsight .cast-tile .cast-name a,
.aetv_showBranding_marriedatfirstsight .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_marriedatfirstsight .episode-premier *,
.aetv_showBranding_marriedatfirstsight div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_marriedatfirstsight .custom-tw-tile .note_title a {
  color: rgb(242,238,224)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_marriedatfirstsight .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_marriedatfirstsight .generic-tile:hover .cta,
.aetv_showBranding_marriedatfirstsight .exclusive-tile:hover p.cta,
.aetv_showBranding_marriedatfirstsight .cast-panel:hover .bio-link,
.aetv_showBranding_marriedatfirstsight .cast-action a:hover,
.aetv_showBranding_marriedatfirstsight .tile:hover .watch-now a,
.aetv_showBranding_marriedatfirstsight .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_marriedatfirstsight .shop-content:hover .cta,
.aetv_showBranding_marriedatfirstsight div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_marriedatfirstsight .exclusive-tile .exclusive-copy p {
  color: rgb(199,172,85)!important;
}
.aetv_showBranding_marriedatfirstsight .scroll-button .button-tip {
  background-color: rgb(199,172,85);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_marriedatfirstsight #site_nav .top_row #show_nav > li.active > a {
  color: rgb(167,0,0);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_marriedatfirstsight  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(242,238,224);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_marriedatfirstsight div.exclusive-copy,
.aetv_showBranding_marriedatfirstsight .cast-group-landing-page .caption,
.aetv_showBranding_marriedatfirstsight .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_marriedatfirstsight .cast-member-panel,
.aetv_showBranding_marriedatfirstsight .generic-tile .body,
.aetv_showBranding_marriedatfirstsight .shop-content .shop-info,
.aetv_showBranding_marriedatfirstsight .video-tile-bottom {
  background: rgb(167,0,0)!important;
}
.aetv_showBranding_marriedatfirstsight .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(167,0,0)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_marriedatfirstsight .generic-tile .body .headline,
.aetv_showBranding_marriedatfirstsight .shop-content .shop-header,
.aetv_showBranding_marriedatfirstsight .tile .video-span {
  color: rgb(199,172,85);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_marriedatfirstsight .generic-tile .description,
.aetv_showBranding_marriedatfirstsight .shop-content .shop-text,
.aetv_showBranding_marriedatfirstsight .tile .video-content {
  color: rgb(242,238,224);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_marriedatfirstsight .video-state-text,
.aetv_showBranding_marriedatfirstsight .eg-hero .hero-text p.more_less {
  color: rgb(167,0,0);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_marriedatfirstsight #header .nav > ul > li a:hover,
.aetv_showBranding_marriedatfirstsight #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_marriedatfirstsight .episode-premier {
  background: rgb(167,0,0);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_marriedatfirstsight .custom-tw-tile {
  background: rgb(159,156,153);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_marriedatfirstsight #landing-gallery-filters,
.aetv_showBranding_marriedatfirstsight #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_marriedatfirstsight #sub-navigation .show-next a,
.aetv_showBranding_marriedatfirstsight #text-episode,
.aetv_showBranding_marriedatfirstsight #slideout-season-select,
.aetv_showBranding_marriedatfirstsight .bottom-bar,
.aetv_showBranding_marriedatfirstsight .show-video-landing #landing-video-filters,
.aetv_showBranding_marriedatfirstsight #sub-navigation {
  background-color: rgb(9,47,78)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_marriedatfirstsight #site_nav {
  background: rgb(199,172,85);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_marriedatfirstsight .season-archive .episode-tile .short-description-text,
.aetv_showBranding_marriedatfirstsight .season-archive .episode-tile .premiere-date,
.aetv_showBranding_marriedatfirstsight .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_marriedatfirstsight .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_marriedatfirstsight .season-archive .episode-tile .episode-description {
  color: rgb(167,0,0);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_marriedatfirstsight .allshows-most-popular h4,
.aetv_showBranding_marriedatfirstsight .cast-landing-page .page-title {
  color: rgb(199,172,85);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_marriedatfirstsight #bio-slideout span.quote-text {
  color: rgb(167,0,0)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_marriedatfirstsight .cast-tile .cast-action a {
  color: rgb(167,0,0)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_marriedatfirstsight .video-landing-section-title span.title_showname {
  color: rgb(167,0,0)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_marriedatfirstsight span.script.title_video {
  color: rgb(167,0,0)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_marriedatfirstsight .video-landing-section-title span.title_colon {
  color: rgb(167,0,0)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_marriedatfirstsight .video-landing-section-title span.title_type {
  color: rgb(167,0,0)!important;
}/* fieldname: field_css_twenty_second_color  */
@media (max-width: 1023px) {
  #show_nav {
    background: rgba(0,0,0,0.8);
    background: -webkit-linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
    background: -o-linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
    background: -moz-linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
    background: linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
  }
}
div.hamburger.show.open {
  background: rgb(0,0,0);
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(242,238,224);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(167,0,0);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_marriedatfirstsight #site_nav .top_row #show_title a {
  color: rgb(242,238,224);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(242,238,224);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(167,0,0);}
}/* fieldname: field_css_page_bkgrd_image  */
.aetv_showBranding_marriedatfirstsight #wrapper:not(.mobile_wrapper) .inner-page {
  background: transparent url(http://s3.aetv.com/mafs_texture_roses_fin_0.jpg) 0 0 / auto 100% repeat-x; 
}
.aetv_showBranding_marriedatfirstsight div.hero-image-crop div.gradient {
  width: 0!important;
}
.aetv_showBranding_marriedatfirstsight div.hero-image-crop {
  width: 100%!important;
  overflow: hidden;
}
.aetv_showBranding_marriedatfirstsight div.hero-image-crop .hero-image {
  width: auto;
  height: 100%;
}
.aetv_showBranding_marriedatfirstsight .exclusives-landing-inner-page div.column.main,
.aetv_showBranding_marriedatfirstsight #ech-container {
  background: transparent;
}/* fieldname: css_node_css  */
.aetv_showBranding_marriedatfirstsight  .cast-tile {background: rgba(127,127,127,0.8); }

.aetv_showBranding_marriedatfirstsight  .show-video-landing h1 {color: #a70000 !important;}

.aetv_showBranding_marriedatfirstsight #full-episodes-column-title h1 span {color: #a70000 !important;}
