/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_duckdynasty #container #picture_stage a.prev,
.aetv_showBranding_duckdynasty #container #picture_stage a.next,
.aetv_showBranding_duckdynasty #header #mobile-menu_top,
.aetv_showBranding_duckdynasty .mobile_wrapper #header,
.aetv_showBranding_duckdynasty .shop-content .network-logo {
  background-color: rgb(50,80,40)!important;
}
.aetv_showBranding_duckdynasty .scroll-button {
  background: rgb(50,80,40);
  background: rgba(50,80,40, 0.3);
}
.aetv_showBranding_duckdynasty .scroll-button:hover {
  background: rgb(50,80,40);
  background: rgba(50,80,40, 0.9);
}
.aetv_showBranding_duckdynasty .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_duckdynasty .season-archive .episode-tile .episode-name,
.aetv_showBranding_duckdynasty .video-landing-section-title h2 span,
.aetv_showBranding_duckdynasty .video-landing-section-title span,
.aetv_showBranding_duckdynasty .video-landing-section-title h1 span,
.aetv_showBranding_duckdynasty #full-episodes-column-title h1:not(span),
.aetv_showBranding_duckdynasty #bio-slideout .cast-header,
.aetv_showBranding_duckdynasty #bio-slideout h3.cast-header-sm,
.aetv_showBranding_duckdynasty .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_duckdynasty .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_duckdynasty .cast-bio-page h2.episode-title.darker-text {
  color: rgb(50,80,40)!important;
}

.aetv_showBranding_duckdynasty #container #picture_selector ul li img {
  border-color: rgb(50,80,40)!important;
}
.aetv_showBranding_duckdynasty .mobile_wrapper .show-navigation .social {
    background: rgb(50,80,40)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_duckdynasty .exclusive-tile p.cta,
.aetv_showBranding_duckdynasty .video-landing-section-title :not(span),
.aetv_showBranding_duckdynasty #full-episodes-column-title h1 span,
.aetv_showBranding_duckdynasty .cast-tile .cast-name a,
.aetv_showBranding_duckdynasty .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_duckdynasty .episode-premier *,
.aetv_showBranding_duckdynasty div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_duckdynasty .custom-tw-tile .note_title a {
  color: rgb(233,213,3)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_duckdynasty .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_duckdynasty .generic-tile:hover .cta,
.aetv_showBranding_duckdynasty .exclusive-tile:hover p.cta,
.aetv_showBranding_duckdynasty .cast-panel:hover .bio-link,
.aetv_showBranding_duckdynasty .cast-action a:hover,
.aetv_showBranding_duckdynasty .tile:hover .watch-now a,
.aetv_showBranding_duckdynasty .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_duckdynasty .shop-content:hover .cta,
.aetv_showBranding_duckdynasty div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_duckdynasty .exclusive-tile .exclusive-copy p {
  color: rgb(232,72,63)!important;
}
.aetv_showBranding_duckdynasty .scroll-button .button-tip {
  background-color: rgb(232,72,63);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_duckdynasty #site_nav .top_row #show_nav > li.active > a {
  color: rgb(242,237,224);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_duckdynasty  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(244,241,226);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_duckdynasty div.exclusive-copy,
.aetv_showBranding_duckdynasty .cast-group-landing-page .caption,
.aetv_showBranding_duckdynasty .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_duckdynasty .cast-member-panel,
.aetv_showBranding_duckdynasty .generic-tile .body,
.aetv_showBranding_duckdynasty .shop-content .shop-info,
.aetv_showBranding_duckdynasty .video-tile-bottom {
  background: rgb(50,80,40)!important;
}
.aetv_showBranding_duckdynasty .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(50,80,40)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_duckdynasty .generic-tile .body .headline,
.aetv_showBranding_duckdynasty .shop-content .shop-header,
.aetv_showBranding_duckdynasty .tile .video-span {
  color: rgb(233,213,3);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_duckdynasty .generic-tile .description,
.aetv_showBranding_duckdynasty .shop-content .shop-text,
.aetv_showBranding_duckdynasty .tile .video-content {
  color: rgb(242,237,224);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_duckdynasty .video-state-text,
.aetv_showBranding_duckdynasty .eg-hero .hero-text p.more_less {
  color: rgb(233,213,3);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_duckdynasty #header .nav > ul > li a:hover,
.aetv_showBranding_duckdynasty #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_duckdynasty .episode-premier {
  background: rgb(50,80,40);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_duckdynasty .custom-tw-tile {
  background: rgb(50,80,40);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_duckdynasty #landing-gallery-filters,
.aetv_showBranding_duckdynasty #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_duckdynasty #sub-navigation .show-next a,
.aetv_showBranding_duckdynasty #text-episode,
.aetv_showBranding_duckdynasty #slideout-season-select,
.aetv_showBranding_duckdynasty .bottom-bar,
.aetv_showBranding_duckdynasty .show-video-landing #landing-video-filters,
.aetv_showBranding_duckdynasty #sub-navigation {
  background-color: rgb(31,39,20)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_duckdynasty #site_nav {
  background: rgb(50,80,40);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_duckdynasty .season-archive .episode-tile .short-description-text,
.aetv_showBranding_duckdynasty .season-archive .episode-tile .premiere-date,
.aetv_showBranding_duckdynasty .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_duckdynasty .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_duckdynasty .season-archive .episode-tile .episode-description {
  color: rgb(0,0,0);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_duckdynasty .allshows-most-popular h4,
.aetv_showBranding_duckdynasty .cast-landing-page .page-title {
  color: rgb(50,80,40);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_duckdynasty #bio-slideout span.quote-text {
  color: rgb(50,80,40)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_duckdynasty .cast-tile .cast-action a {
  color: rgb(50,80,40)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_duckdynasty .video-landing-section-title span.title_showname {
  color: rgb(50,80,40)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_duckdynasty span.script.title_video {
  color: rgb(50,80,40)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_duckdynasty .video-landing-section-title span.title_colon {
  color: rgb(50,80,40)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_duckdynasty .video-landing-section-title span.title_type {
  color: rgb(233,213,3)!important;
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(233,213,3);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(255,255,255);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_duckdynasty #site_nav .top_row #show_title a {
  color: rgb(233,213,3);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(233,213,3);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(255,255,255);}
}/* fieldname: field_css_logo_bkgrd_image  */
.aetv_showBranding_duckdynasty #wrapper:not(.mobile_wrapper) #header #logo_bo,
.aetv_showBranding_duckdynasty #wrapper:not(.mobile_wrapper) #header #logo_ae {
  visibility: hidden;
}
.aetv_showBranding_duckdynasty #wrapper:not(.mobile_wrapper) #header #header_logo a {
  background: url(http://s3.aetv.com/mainlogo_1.png) 0 0  no-repeat;
  display: block;
  width: 150px;
  height: 30px;
  background-size: contain;
  margin: 8px 0 0 18px;
}

.aetv_showBranding_duckdynasty #header #header_logo a {
  background-image: url(http://s3.aetv.com/mainlogo_1.png);
}/* fieldname: css_node_css  */
.aetv_showBranding_duckdynasty #site_nav { background-color: #325028; }
.aetv_showBranding_duckdynasty .cast-tile .cast-name a {color: #333!important;}

.aetv_showBranding_duckdynasty .tile:not(.custom-tw-tile) div:not(.cast-quote) .quote-text {color: #325028!important;}

.aetv_showBranding_duckdynasty div.exclusive-copy,
.aetv_showBranding_duckdynasty .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy {background: #325028;}

.aetv_showBranding_duckdynasty .exclusive-tile .exclusive-copy p,
.aetv_showBranding_duckdynasty .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy p {color: #fff!important}

.aetv_showBranding_duckdynasty .no-touch #site_nav #show_nav > li:last-child > a:hover {background-color: transparent!important}

.aetv_showBranding_duckdynasty .mobile_wrapper .show-navigation .social {background: rgb(50,80,40)!important;}

.aetv_showBranding_duckdynasty #landing-gallery-filters {
  background-color: rgb(31,39,20)!important;
}
.aetv_showBranding_duckdynasty .tile.custom-tw-tile .quote-text a {color: #fff!important}
.aetv_showBranding_duckdynasty #full-episodes-column-show-landing-title .title-wrapper,
.aetv_showBranding_duckdynasty #full-episodes-column-title h1 span {color: #33!important;}

.aetv_showBranding_duckdynasty .cast-tile .cast-action a {color: rgb(50,80,40);}
.aetv_showBranding_duckdynasty .cast-tile .cast-action a:hover {color: rgb(232,72,63);}
.aetv_showBranding_duckdynasty .mobile_wrapper #header {background-color: rgb(50,80,40)!important;}
.aetv_showBranding_duckdynasty .family-tree #row-1 {
  padding-left: 340px;
  width: 580px;
}
.aetv_showBranding_duckdynasty .family-tree #row-2 {
  top: -20px;
}
.aetv_showBranding_duckdynasty .family-tree #row-3 {
  top: -40px;
  padding-left: 25px;
  width: 895px;
}
.aetv_showBranding_duckdynasty .family-tree #row-4 {
  top: -72px;
  padding-left: 272px;
  width: 648px;
}
#will-robertson {
  margin-left: 100px;
}
#priscilla-robertson {
  margin-left: 50px;
}
.aetv_showBranding_duckdynasty #row-5 h3 {
  clear: both;
  font-size: 48px;
  color: #E8D800;
  font-family: 'AmperstandardHeavy';
  line-height: 64px;
}
.aetv_showBranding_duckdynasty .family-tree .row .family-tree-member > div > h2:hover {
  color: #e8483f;
}
.aetv_showBranding_duckdynasty  .mobile_wrapper.robertsonfamilytree .inner-container {
  background: #000 url(http://aetvminisites.s3.amazonaws.com/duck-dynasty/images/robertson-family-tree/background.jpg);
}
.aetv_showBranding_duckdynasty  .mobile_wrapper.robertsonfamilytree h1.headline,
.duckdynastyrobertsonfamilytree .exclusive-page .close-modal {
  display: none;
}
.aetv_showBranding_duckdynasty  .robertsonfamilytree .mobile-exclusive .content {width: 100vw; padding: 0;}
.aetv_showBranding_duckdynasty  .duckdynastyrobertsonfamilytree .exclusive-page {
  background: #000 url(http://aetvminisites.s3.amazonaws.com/duck-dynasty/images/robertson-family-tree/background.jpg);
  background: url(http://aetvminisites.s3.amazonaws.com/duck-dynasty/images/robertson-family-tree/gradient.png) 0 0 / 100% 100%,
#000 url(http://aetvminisites.s3.amazonaws.com/duck-dynasty/images/robertson-family-tree/background.jpg);
  min-width: 95%;
  min-width: calc(100% - 100px);
}


.aetv_showBranding_duckdynasty .mobile-exclusive .episode-bar,
.aetv_showBranding_duckdynasty .mobile-exclusive h1,
.aetv_showBranding_duckdynasty .mobile_wrapper #dd-videogame > div,
.aetv_showBranding_duckdynasty .mobile_wrapper .family-tree > div {
  z-index: 1;
  position: relative;
}
.aetv_showBranding_duckdynasty .mobile_wrapper #dd-videogame .background {
  background: #000 url('http://aetvminisites.s3.amazonaws.com/duck-dynasty/videogame/background.jpg') 0 0  repeat-x;
}

.aetv_showBranding_duckdynasty .mobile-exclusive .background {
  width: 100vw;
  height: 100vh;
  position: fixed!important;
  top: 0;
  left: 0;
  z-index: 0!important;
}
.aetv_showBranding_duckdynasty .family-tree h1 {color: #E1D09F;}
.aetv_showBranding_duckdynasty .family-tree .social span {color: #E8D800;}
.aetv_showBranding_duckdynasty .family-tree .row .family-tree-member > div > h2 {
  background: #ded5a4;
  border: double rgb(129, 129, 129);
}
#video-player-overlay.family-tree-video #video-player-wrap #video-player-playlist li.now_playing .overlay .now_playing {
  width: 12.5vw;
}
#video-player-overlay.family-tree-video #video-player-wrap #video-player-playlist li.now_playing .overlay .now_playing p {
  line-height: 2vw;
}
.aetv_showBranding_duckdynasty .mobile_wrapper #back_top {
  background: #f4f1e2!important;
  position: relative;
}
.aetv_showBranding_duckdynasty .credit a {color: #fff;}



/* Quiz */
.aetv_showBranding_duckdynasty .aetv-quiz .ae-quiz.container p.ae-quiz-answerOption:nth-child(odd) label.btn-primary {background: #fff!important;}
.aetv_showBranding_duckdynasty .aetv-quiz .ae-quiz.container p.ae-quiz-answerOption:nth-child(even) label.btn-primary {background: #e8e2d2!important;}
.aetv_showBranding_duckdynasty .aetv-quiz .ae-quiz.container  .ae-quiz-restartButton,
.aetv_showBranding_duckdynasty .aetv-quiz .ae-quiz.container p.ae-quiz-answerOption:hover label.btn-primary {
  background: #304f26!important;
  color: rgb(233,213,3);
}
.aetv_showBranding_duckdynasty .aetv-quiz .ae-quiz.container .quiz-result-image b,
.aetv_showBranding_duckdynasty .aetv-quiz .ae-quiz.container .quiz-result-copy p b,
.aetv_showBranding_duckdynasty .aetv-quiz .splash-page .splash-page-title,
.aetv_showBranding_duckdynasty .aetv-quiz .ae-quiz.container p.ae-quiz-answerOption label.btn-primary,
.aetv_showBranding_duckdynasty .aetv-quiz .ae-quiz.container .ae-quiz-question h3,
.aetv_showBranding_duckdynasty .aetv-quiz .ae-quiz.container .ae-quiz-bottom-bar h4 {color: #304f26;}
.aetv_showBranding_duckdynasty .aetv-quiz .splash-page .splash-page-content {
  background: #304f26;
}
.aetv_showBranding_duckdynasty .aetv-quiz .splash-page {  background-color:  #304f26;}
.aetv_showBranding_duckdynasty .aetv-quiz .splash-page .splash-page-content p {color: #fff;}
.aetv_showBranding_duckdynasty .aetv-quiz .splash-page .button-start-quiz {
  background: rgb(233,213,3);
  color: #304f26;
}
.aetv_showBranding_duckdynasty .aetv-quiz .splash-page {border-color: #003500;}
.aetv_showBranding_duckdynasty  .aetv-quiz .ae-quiz.container p.ae-quiz-answerOption:hover label.btn.ae-quiz-answerChoice-incorrect.ae-quiz-answerContainer,
.aetv_showBranding_duckdynasty  .aetv-quiz .ae-quiz.container p.ae-quiz-answerOption label.btn.ae-quiz-answerChoice-incorrect.ae-quiz-answerContainer {
  background: #E8483F;
}
.aetv_showBranding_duckdynasty  .aetv-quiz .ae-quiz.container p.ae-quiz-answerOption:hover label.btn.ae-quiz-answerChoice-correct.ae-quiz-answerContainer,
.aetv_showBranding_duckdynasty  .aetv-quiz .ae-quiz.container p.ae-quiz-answerOption label.btn.ae-quiz-answerChoice-correct.ae-quiz-answerContainer {
  background: rgb( 233,213,3);
}
