/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_intervention #container #picture_stage a.prev,
.aetv_showBranding_intervention #container #picture_stage a.next,
.aetv_showBranding_intervention #header #mobile-menu_top,
.aetv_showBranding_intervention .mobile_wrapper #header,
.aetv_showBranding_intervention .shop-content .network-logo {
  background-color: rgb(115,134,177)!important;
}
.aetv_showBranding_intervention .scroll-button {
  background: rgb(115,134,177);
  background: rgba(115,134,177, 0.3);
}
.aetv_showBranding_intervention .scroll-button:hover {
  background: rgb(115,134,177);
  background: rgba(115,134,177, 0.9);
}
.aetv_showBranding_intervention .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_intervention .season-archive .episode-tile .episode-name,
.aetv_showBranding_intervention .video-landing-section-title h2 span,
.aetv_showBranding_intervention .video-landing-section-title span,
.aetv_showBranding_intervention .video-landing-section-title h1 span,
.aetv_showBranding_intervention #full-episodes-column-title h1:not(span),
.aetv_showBranding_intervention #bio-slideout .cast-header,
.aetv_showBranding_intervention #bio-slideout h3.cast-header-sm,
.aetv_showBranding_intervention .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_intervention .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_intervention .cast-bio-page h2.episode-title.darker-text {
  color: rgb(115,134,177)!important;
}

.aetv_showBranding_intervention #container #picture_selector ul li img {
  border-color: rgb(115,134,177)!important;
}
.aetv_showBranding_intervention .mobile_wrapper .show-navigation .social {
    background: rgb(115,134,177)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_intervention .exclusive-tile p.cta,
.aetv_showBranding_intervention .video-landing-section-title :not(span),
.aetv_showBranding_intervention #full-episodes-column-title h1 span,
.aetv_showBranding_intervention .cast-tile .cast-name a,
.aetv_showBranding_intervention .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_intervention .episode-premier *,
.aetv_showBranding_intervention div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_intervention .custom-tw-tile .note_title a {
  color: rgb(115,134,177)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_intervention .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_intervention .generic-tile:hover .cta,
.aetv_showBranding_intervention .exclusive-tile:hover p.cta,
.aetv_showBranding_intervention .cast-panel:hover .bio-link,
.aetv_showBranding_intervention .cast-action a:hover,
.aetv_showBranding_intervention .tile:hover .watch-now a,
.aetv_showBranding_intervention .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_intervention .shop-content:hover .cta,
.aetv_showBranding_intervention div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_intervention .exclusive-tile .exclusive-copy p {
  color: rgb(18,17,25)!important;
}
.aetv_showBranding_intervention .scroll-button .button-tip {
  background-color: rgb(18,17,25);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_intervention #site_nav .top_row #show_nav > li.active > a {
  color: rgb(115,134,177);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_intervention  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(18,17,25);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_intervention div.exclusive-copy,
.aetv_showBranding_intervention .cast-group-landing-page .caption,
.aetv_showBranding_intervention .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_intervention .cast-member-panel,
.aetv_showBranding_intervention .generic-tile .body,
.aetv_showBranding_intervention .shop-content .shop-info,
.aetv_showBranding_intervention .video-tile-bottom {
  background: rgb(213,217,226)!important;
}
.aetv_showBranding_intervention .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(213,217,226)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_intervention .generic-tile .body .headline,
.aetv_showBranding_intervention .shop-content .shop-header,
.aetv_showBranding_intervention .tile .video-span {
  color: rgb(115,134,177);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_intervention .generic-tile .description,
.aetv_showBranding_intervention .shop-content .shop-text,
.aetv_showBranding_intervention .tile .video-content {
  color: rgb(18,17,25);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_intervention .video-state-text,
.aetv_showBranding_intervention .eg-hero .hero-text p.more_less {
  color: rgb(213,217,226);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_intervention #header .nav > ul > li a:hover,
.aetv_showBranding_intervention #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_intervention .episode-premier {
  background: rgb(213,217,226);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_intervention .custom-tw-tile {
  background: rgb(115,134,177);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_intervention #landing-gallery-filters,
.aetv_showBranding_intervention #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_intervention #sub-navigation .show-next a,
.aetv_showBranding_intervention #text-episode,
.aetv_showBranding_intervention #slideout-season-select,
.aetv_showBranding_intervention .bottom-bar,
.aetv_showBranding_intervention .show-video-landing #landing-video-filters,
.aetv_showBranding_intervention #sub-navigation {
  background-color: rgb(18,17,25)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_intervention #site_nav {
  background: rgb(10,11,16);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_intervention .season-archive .episode-tile .short-description-text,
.aetv_showBranding_intervention .season-archive .episode-tile .premiere-date,
.aetv_showBranding_intervention .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_intervention .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_intervention .season-archive .episode-tile .episode-description {
  color: rgb(115,134,177);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_intervention .allshows-most-popular h4,
.aetv_showBranding_intervention .cast-landing-page .page-title {
  color: rgb(115,134,177);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_intervention #bio-slideout span.quote-text {
  color: rgb(115,134,177)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_intervention .cast-tile .cast-action a {
  color: rgb(115,134,177)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_intervention .video-landing-section-title span.title_showname {
  color: rgb(115,134,177)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_intervention span.script.title_video {
  color: rgb(115,134,177)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_intervention .video-landing-section-title span.title_colon {
  color: rgb(115,134,177)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_intervention .video-landing-section-title span.title_type {
  color: rgb(115,134,177)!important;
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(213,217,226);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(213,217,226);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_intervention #site_nav .top_row #show_title a {
  color: rgb(115,134,177);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(115,134,177);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(213,217,226);}
}/* fieldname: field_css_page_bkgrd_image  */
.aetv_showBranding_intervention #wrapper:not(.mobile_wrapper) .inner-page {
  background: transparent url(http://s3.aetv.com/intervention-wallpaper-3.jpg) 0 0 / auto 100% repeat-x; 
}
.aetv_showBranding_intervention div.hero-image-crop div.gradient {
  width: 0!important;
}
.aetv_showBranding_intervention div.hero-image-crop {
  width: 100%!important;
  overflow: hidden;
}
.aetv_showBranding_intervention div.hero-image-crop .hero-image {
  width: auto;
  height: 100%;
}
.aetv_showBranding_intervention .exclusives-landing-inner-page div.column.main,
.aetv_showBranding_intervention #ech-container {
  background: transparent;
}/* fieldname: css_node_css  */
.aetv_showBranding_intervention .exclusives-tile a {color: #7386b1 !important;}

.aetv_showBranding_intervention .cast-group-landing-page .cast-panel .caption span {color: #7386b1 !important;}

.aetv_showBranding_intervention .cast-group-landing-page .cast-panel .bio-link {color: #7386b1 !important;}