.scroll-button .scroll-arrow {
  cursor: pointer;
}

.dart-tag {
  min-height: 267px;
}

strong {
 font-weight: normal;
}

/* temporary fix for shop tile */
#show_shop_tile {
  float: left;
  width: 430px;
  padding: 5px;
  margin: 0 0 15px 0;
}

#show_shop_tile div.item_details {
  height: 43px;
  padding-top: 12px;
  color : #000;
}
#show_shop_tile div.item_details img {
  padding 0px !important;
}

#show_shop_tile div.item_img img {
  height : 80px;
}

div.item_img {
  margin-bottom: 25px;
}

.shop_content {    
  background-image: url("/profiles/aetv/modules/custom/aetv_shop/images/shop_tile.png"); 
  height: 342px;
  width: 298px;
}

#info_content .shop_content {
  background-image: none;
  background-color: #FFF;
  border: 6px solid #333;
  height: 316px;
}

.shop_items {
  margin-left: 10px;
  margin-top: 36px;
  float: left;
  height: 287px;
  margin-left: 10px;
  margin-top: 36px;
  padding: 5px;
  width: 42%;
  border-right:1px solid #ccc;
}

#info_content .shop_items {
  margin-top: 10px;
}

#info_content .shop_items:last-child {
  border-right: none;
}

.storelink_1 {  
  position: absolute;     
  top: 7px;     
  left: 7px;     
  width: 45%;     
  height: 21px;
  background-color: transparent;
}

.storelink_2 {  
  position: absolute;
  top: 7px;
  left: 174px;
  width: 39%;
  height: 21px;
  background-color: transparent;
}


.shop_content a {
  text-decoration: none !important; 
}

.item_title {
  margin-bottom: 25px;
  height: 50px;
}

.item_title a {
  font-family: AmperstandardHeavy;
  color: #000;
  font-size: 12px;
  line-height: 16px;
}

.item_headline {
  font-family: AmperstandardMedium;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
}

.item_price a {
  font-family: AmperstandardMedium;
  color: #000; 
  font-size: 15px;
  line-height: 16px;  
}

.item_link {
  text-align: center;
  margin-top: 15px;
}

#show_shop_tile .item_link {
  text-align: center;
  margin-top: 85px;
}

.item_link a { 
  background-image: url("/profiles/aetv/modules/custom/aetv_shop/images/shop_btn_bg.png"); 
  background-repeat: no-repeat; 
  color: #FFFFFF; 
  display: inline-block; 
  font-family: AmperstandardLight; 
  font-size: 14px; 
  height: 91px; 
  padding-top: 2px; 
  text-align: center; 
  width: 90px; 
} 

/* end temporary fix for shop tile */


/* Temp fix for exclusives width */
.exclusive-page .col1 .overview {
   width: 100%;
}

.gallery-landing .aetv-isotope-ad { height: auto; } 

/*End temp fix for exclusives */

/* Temp fix for homepage */
.homepage_promo_wrapper#promo_wrapper ul.large_promo div.promo_info h4 {
  white-space: normal;
}
/* End Temp fix for homepage */

/* temp for show nav flyout */
#site_nav #info_slideout div.info_flyout.Info a {color: #fff;}
#site_nav #info_slideout div.info_flyout.Info a:hover {color: #e8483f;}
#site_nav #info_slideout div.info_flyout.Info a:visited {color: #ccc;}
/* End temp for show nav flyout */

#dd-options {
        margin: 0;
        padding: 0;
        height: 200px;
        overflow: auto;
        width: 100%;
}
/* DISABLED
#footer a.feedback_link, #footer a.schedule, #footer a.watch_live_now {
    margin: 11px 0 0 25px !important;
}
*/
/*
@media all and (max-height: 1099px) {
  #footer .schedule,
  #footer .watch_live_now {
    display: block !important;
  }
}
*/


#allshows_ad-1{
	height: auto;
}

.aetv_showBranding_luckygreen span.episode-show-name.dark-text,
.aetv_showBranding_luckygreen .cast-bio-page h2.episode-title.darker-text {
  color: #1c8e6d !important;
}

#header .nav #header_nav_dd .multi_column_tall li,
#header .nav > ul .multi_column_tall li {
  /*width: 203px;*/
  white-space: normal;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

/* Fix for games landing shop tiles. */
div.games_landing_wrapper .shop_items div.item_title a {
color: #000;
}

/* fix social nav icons */
#site_nav #show_buttons li a {
    background-image: url(/profiles/aetv/themes/custom/aetv/images/sprite-social-icons-ui.png) !important;
}

/* A/B testing for show nav icon removal */
#site_nav #show_nav.static > li > a,
.inner-wrapper #site_nav #show_nav.static > li > a {
  background: none!important;
}

.mobile-episode-guide .generic-tile .body {background: #0a63b0;}
.mobile-episode-guide .generic-tile .headline {font-family: 'AmperScript';}


.homepage_full_episodes_section a div.thumb_copy .title {
  color: #FFF;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
  width: 250px;
}
.homepage_full_episodes_section a div.thumb_copy .info {
  color: #FFF;
  font-size: 13px;
  line-height: 18px;
}

.episode-description {
  padding-top: 10px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  font-weight: normal!important;
}
.landing-episode-tile-video-info .landing-episode-tile-video-title, .show-video-landing .landing-promo-tile-video-title {
    font-size: 20px;
    line-height: 22px;
    color: #FFF;
    width: 250px;
    font-weight: normal;
}
.landing-episode-tile-video-info .landing-episode-tile-sed, .show-video-landing .landing-promo-tile-sed {
    font-size: 13px;
    line-height: 18px;
    color: #FFF;
}
.navigation-elements ul li a {
  font-family: 'Roboto Condensed', sans-serif;  
}
#season-numbers {z-index: 99;}

.all-video #shows-list ul li,
.all-video #classics-list ul li,
.all-shows-page .allshows-shows-list ul li,
.all-shows-page .allshows-classics-list ul li {
  display: table;
}

.most-popular-panel .scrollpane {height: 185px;}
.most-popular-panel .website-link{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

ul.small_promo .promo_title h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
}
.aetv_showBranding_sonomared .mobile_wrapper #header {background-color: #b91e4b!important;}
.aetv_showBranding_tangorange .mobile_wrapper #header {background-color: #fbae1d!important;}
.aetv_showBranding_luckygreen .mobile_wrapper #header {background-color: #179776!important;}
#login {color: #fff; padding: 0 15px;}

.landing-episode-tile-video-info .landing-episode-tile-sed, .show-video-landing .landing-promo-tile-sed {
    font-size: 13px;
    line-height: 18px;
    color: #FFF;
}
.navigation-elements ul li a {
  font-family: 'Roboto Condensed', sans-serif;  
}
