.drupal-type-exclusive {/*font-family: 'AmperstandardLight';*/ background-color: #f4f1e2; /*line-height: 18px;*/ font-weight: normal;}
.drupal-type-exclusive img {border: none;}
.drupal-type-exclusive .flexible-image {max-width: 100%; height: auto; width: 100%;}
.drupal-type-exclusive span.caps {font-family: AmperstandardMedium, Amperserif; text-transform: uppercase;}
.drupal-type-exclusive a {text-decoration: none; color: #e8483f;}
.drupal-type-exclusive a:hover {text-decoration: underline;}
.drupal-type-exclusive .flt-left {float: left;}
.drupal-type-exclusive .exclusive-page ul, .drupal-type-exclusive .exclusive-page ul li {font-size: 12px; font-family: AmperstandardMedium; color: #767676; padding: 0;  list-style-position: inside; list-style-type: disc;}
.drupal-type-exclusive .exclusive-page ol, .drupal-type-exclusive .exclusive-page ol li {font-size: 12px; font-family: AmperstandardMedium; color: #767676;list-style-position: inside; list-style-type: decimal;}
.drupal-type-exclusive p#book-subhead, .drupal-type-exclusive p#window-subhead {font-size: 18px; color: #333333; margin: -20px 0 10px 0;}
.drupal-type-exclusive p#by-copy {font-size: 14px; margin: 10px 0;}
.drupal-type-exclusive div#promo-img, .drupal-type-exclusive div.image-right {padding: 0 0 20px 20px; float: right;}
.drupal-type-exclusive div#promo-img-noheader {padding: 0 0 20px 20px; float: right;}
.drupal-type-exclusive p#promo-line, .drupal-type-exclusive p#promo-line  a, .drupal-type-exclusive p#promo-line-noheader, .drupal-type-exclusive p#promo-line-noheader a {font-family: AmperstandardMedium; font-size: 13px; color: #686868; text-transform: uppercase; text-decoration: none;}
.drupal-type-exclusive p#promo-line  a, .drupal-type-exclusive p#promo-line-noheader a  {color: #e8483f;}
.drupal-type-exclusive p#promo-line  a:hover, .drupal-type-exclusive p#promo-line-noheader  a:hover  {text-decoration: underline; color: #e8483f;}
.drupal-type-exclusive p#promo-line-noheader {margin-top: -20px;}
.drupal-type-exclusive p {font-size: 12px; color: #767676;}
.drupal-type-exclusive span.statement, .drupal-type-exclusive span.statement a {font-family: AmperstandardHeavy; color: #333333; text-decoration: none;}
.drupal-type-exclusive span.statement a {color: #e8483f;}
.drupal-type-exclusive span.statement a:hover {color: #e8483f; text-decoration: underline;}
.drupal-type-exclusive p.lead-in {font-size: 14px; font-family: AmperstandardLight; font-weight: bold; line-height: 20px; color: #333333;}
.drupal-type-exclusive span.response, .drupal-type-exclusive span.response a {font-family: AmperstandardMedium; color: #767676; text-decoration: none;}
.drupal-type-exclusive span.response a {color: #e8483f;}
.drupal-type-exclusive span.response a:hover {color: #e8483f; text-decoration: underline;}
.drupal-type-exclusive span.chapter-header, .drupal-type-exclusive span.chapter-subheader{font-family: AmperstandardLight; font-weight: bold;  font-size: 16px; color: #333333; text-transform: uppercase;}
.drupal-type-exclusive span.chapter-subheader {font-size: 14px;}
.drupal-type-exclusive p.chapter-content, .drupal-type-exclusive p.chapter-content a {font-family: AmperstandardMedium; font-size: 12px; color: #767676; text-decoration: none;}
.drupal-type-exclusive p.chapter-content a  {color: #e8483f;}
.drupal-type-exclusive p.chapter-content a:hover {color: #e8483f; text-decoration: underline;}
.drupal-type-exclusive .img-left {float: left; padding: 0 20px 10px 0;}
.drupal-type-exclusive .img-right {float: right; padding: 0 0 10px 20px;}
.drupal-type-exclusive .quote-img {font-family: AmperstandardLight; padding: 10px 0; font-size: 30px; color: #767676; line-height: 30px; }
 
.drupal-type-exclusive .sub-section {min-height: 325px; margin: 20px 0; clear: both; border-bottom: 1px dotted #c2c2c2;}
.drupal-type-exclusive .sub-section-last {border-bottom: 0 none;}
.drupal-type-exclusive .name {font-size: 15px;}
.drupal-type-exclusive .first-question {margin-top: 0; padding-top: 15px;}
.drupal-type-exclusive:not(.wahlberg-family-recipes) .recipe  {min-height: 410px; margin-bottom: 10px;}
.drupal-type-exclusive .book-recipe {margin-bottom: 10px;}
.drupal-type-exclusive:not(.wahlberg-family-recipes) .recipe ul, .drupal-type-exclusive .book-recipe ul  {margin-top: 0;}
.drupal-type-exclusive  span.ingredients {margin-top: 0; font-size: 13px;}
.drupal-type-exclusive span.directions,.drupal-type-exclusive span.tips {font-size: 13px;}
.drupal-type-exclusive .recipe .img-left {padding: 0 10px 10px 0;}
 

/* duck commander recipe book*/
.drupal-type-exclusive.duck-recipe-book ul, .drupal-type-exclusive.duck-recipe-book ol {margin-bottom: 10px;}
.drupal-type-exclusive.duck-recipe-book ul, .drupal-type-exclusive.duck-recipe-book ul li, .drupal-type-exclusive.duck-recipe-book .book-recipe ul, .drupal-type-exclusive.duck-recipe-book .book-recipe ul li, drupal-type-exclusive.pros-and-cons ul, .drupal-type-exclusive.pros-and-cons ul li {list-style-position: inside;}
.drupal-type-exclusive.duck-recipe-book ol, .drupal-type-exclusive.duck-recipe-book ol li, .drupal-type-exclusive.duck-recipe-book .book-recipe ol, .drupal-type-exclusive.duck-recipe-book .book-recipe ol li {padding: 0; list-style-position: inside;}
.drupal-type-exclusive .bottom-border {border-bottom: 1px dotted #c2c2c2;}
.drupal-type-exclusive.duck-recipe-book .recipe-names, .name { padding-bottom: 10px;}
.drupal-type-exclusive.duck-recipe-book div.directions, div.ingredients {clear: both; padding: 5px 0; font-size: 13px; color: #767676;}
 
/* kays recipes */
.drupal-type-exclusive.kays-recipes .name {padding: 5px 0;}
.drupal-type-exclusive.kays-recipes  p.ingredients {margin: 0; padding: 5px 0; font-size: 13px;}
.drupal-type-exclusive.kays-recipes p.directions {font-size: 13px; margin: 0; padding: 5px 0;}
 
/* kays recipe book*/
.drupal-type-exclusive.kays-recipe-book ul li, .drupal-type-exclusive.kays-recipe-book ol li { list-style-position: inside; margin-left: 10px;}
.drupal-type-exclusive.kays-recipe-book ol, .drupal-type-exclusive.kays-recipe-book ol li { padding: 0; margin-top: 0;}
.drupal-type-exclusive.kays-recipe-book .has-image {min-height: 450px;}
.drupal-type-exclusive.kays-recipe-book #recipe-index {margin-bottom: 15px;}
.drupal-type-exclusive.kays-recipe-book p.ingredients{font-size: 13px; margin: 0; padding: 5px 0;}
.drupal-type-exclusive.kays-recipe-book p.directions {font-size: 13px; margin: 0; padding: 5px 0;}
.drupal-type-exclusive.kays-recipe-book .book-recipe ol  {margin-bottom: 10px;}
 
 
/* pros and cons w/ family */
.drupal-type-exclusive.pros-and-cons .opinion {width: 45%; float: left; padding-right: 20px;}
.drupal-type-exclusive.pros-and-cons .opinion-2 {width: 45%; float: left; padding-left: 20px; border-left: 1px dotted #c2c2c2;}
.drupal-type-exclusive.pros-and-cons div.list-title{font-size: 15px; color: #333333; padding-bottom: 10px;}
.drupal-type-exclusive.pros-and-cons .name {font-size: 18px; font-family: AmperstandardHeavy; color: #333333;}
.drupal-type-exclusive.pros-and-cons ol, .drupal-type-exclusive.pros-and-cons ol li {margin-left: 0; padding-left: 0; list-style-position: inside;}
.drupal-type-exclusive.pros-and-cons ol {padding-bottom: 10px;}
 
/* duck family tree */
.drupal-type-exclusive.dd-family-tree img[usemap] {border: none; height: auto; max-width: 100%; width: auto;}
.drupal-type-exclusive.robertson-family-tree #tree {background: url('http://aetvminisites.s3.amazonaws.com/duck-dynasty/images/family-tree/Robertson-Family-Tree.jpg'); height: 1523px; width: 646px; margin:0; position: absolute;}
.drupal-type-exclusive.robertson-family-tree .links a {padding: 0 1px;}
.drupal-type-exclusive.robertson-family-tree img { border: 0 none !important;}
/* elders */
.drupal-type-exclusive.robertson-family-tree #top-elders {position: relative; top: 180px; height: 23px; z-index: 99;}
.drupal-type-exclusive.robertson-family-tree #top-elders .links {width: 80px; position: relative;}
.drupal-type-exclusive.robertson-family-tree #phil {left: 262px;}
.drupal-type-exclusive.robertson-family-tree #kay {left: 308px;}
.drupal-type-exclusive.robertson-family-tree #si {left: 385px;}
/* alans family */
.drupal-type-exclusive.robertson-family-tree #alans-family {position: relative; top: 372px; height: 23px; z-index: 99;}
.drupal-type-exclusive.robertson-family-tree #alans-family .links {width: 70px;position: relative;}
.drupal-type-exclusive.robertson-family-tree #alan {left: 195px;}
/* jeps family */
.drupal-type-exclusive.robertson-family-tree #jeps-family {position: relative; top: 850px; height: 23px; z-index: 99;}
.drupal-type-exclusive.robertson-family-tree #jeps-family .links {width: 70px;position: relative;}
.drupal-type-exclusive.robertson-family-tree #jep {left: 410px;}
.drupal-type-exclusive.robertson-family-tree #jessica {left: 468px;}
/* jases family */
.drupal-type-exclusive.robertson-family-tree #jases-family {position: relative; top: 375px; height: 23px; z-index: 99;}
.drupal-type-exclusive.robertson-family-tree #jases-family .links {width: 70px;position: relative;}
.drupal-type-exclusive.robertson-family-tree #jase {left: 398px;}
.drupal-type-exclusive.robertson-family-tree #missy {left: 423px;}
.drupal-type-exclusive.robertson-family-tree #reed {top: 170px; left: 277px;}
.drupal-type-exclusive.robertson-family-tree #cole {top: 170px; left: 359px;}
/* willies family */
.drupal-type-exclusive.robertson-family-tree #willies-family {position: relative; top: 680px; height: 23px; z-index: 99;}
.drupal-type-exclusive.robertson-family-tree #willies-family .links {width: 70px;position: relative;}
.drupal-type-exclusive.robertson-family-tree #willie {left: 82px;}
.drupal-type-exclusive.robertson-family-tree #korie {left: 70px;}
.drupal-type-exclusive.robertson-family-tree #johnluke {top: 171px; left: 31px;}
.drupal-type-exclusive.robertson-family-tree #sadie {top: 304px; left: -120px;}
/* family friends */
.drupal-type-exclusive.robertson-family-tree #family-friends {position: relative; top: 1318px; height: 23px; z-index: 99;}
.drupal-type-exclusive.robertson-family-tree #family-friends .links {width: 70px;position: relative;}
.drupal-type-exclusive.robertson-family-tree #mountain-man {left: 220px;}
.drupal-type-exclusive.robertson-family-tree #john-godwin {left: 265px;}
.drupal-type-exclusive.robertson-family-tree #justin-martin {left: 310px;}
 
/* battle of beards */
.drupal-type-exclusive.beard-app h1 {font-size: 22px; font-weight: bold; line-height: 30px; position: relative; }
.drupal-type-exclusive.beard-app .pods {float: left;}
.drupal-type-exclusive.beard-app .pods .pod { width: 30%; padding-right: 15px;}
.drupal-type-exclusive.beard-app #promo-line.beard-promo {font-size: 14px; margin: 10px; line-height: 18px;}
.drupal-type-exclusive.beard-app .app-img {float: left; margin: 5px 20px 50px 0;}
.drupal-type-exclusive.beard-app p {margin-top: 5px;}
.drupal-type-exclusive.beard-app .pod-title {font-size: 15px; font-family: AmperstandardHeavy; color: #333333;}
 
/* bates producers */
.drupal-type-exclusive.bates-producers p#window-subhead {margin: 0;}
.drupal-type-exclusive.bates-producers p.producer-note {min-height: 260px;}
.drupal-type-exclusive.bates-producers p.producer-title {color: #333333; font-size: 18px; padding-bottom: 0; margin-bottom: -5px;}
.drupal-type-exclusive.bates-producers p.by-copy {font-family: AmperstandardLight; color: #333333; font-size: 15px; padding-bottom: 0;}
 
/* barter tips */
.drupal-type-exclusive.barter-tips .opinion-1 {width: 45%; float: left; padding-right: 20px;}
.drupal-type-exclusive.barter-tips .opinion-2 {width: 45%; float: left; padding-left: 20px; border-left: 1px dotted #c2c2c2;}
.drupal-type-exclusive.barter-tips .name {font-size: 15px; font-family: AmperstandardMedium; color: #333333; margin-top: 10px;}
.drupal-type-exclusive.barter-tips ol li {list-style-position: inside; list-style-type: decimal;  padding-bottom: 20px;}
 
/* storage wars facilities */
.drupal-type-exclusive #facilities_list-sw .small-image, .drupal-type-exclusive #facilities_list-swny .small-image, .drupal-type-exclusive #facilities_list-swtx .small-image{padding-top: 40px;}
.drupal-type-exclusive #facilities_list-sw, .drupal-type-exclusive #facilities_list-swtx, .drupal-type-exclusive #facilities_list-swny {float: left;}
.drupal-type-exclusive #facilities_list-sw li {float: left; width: 230px; padding: 10px; border-bottom: 1px dotted #c2c2c2; list-style-type: none;}
.drupal-type-exclusive #facilities_list-sw li, .drupal-type-exclusive #facilities_list-swny li, .drupal-type-exclusive #facilities_list-swtx li {border-right: 1px dotted #c2c2c2;}
.drupal-type-exclusive #facilities_list-sw li a:first-child {display: block; position: relative; margin: 10px 0 10px 0;}
.drupal-type-exclusive #facilities_list-sw li .storage-name {color: #767676; font-size: 18px; line-height: 22px; position: relative; margin: 0;}
.drupal-type-exclusive #facilities_list-sw, .drupal-type-exclusive #facilities_list-swny, .drupal-type-exclusive #facilities_list-swtx {padding: 0 0 25px 0; float: left;}
.drupal-type-exclusive  #facilities_list-sw li {min-height: 195px;}
.drupal-type-exclusive #facilities_list-sw .small-image, .drupal-type-exclusive #facilities_list-swny .small-image, .drupal-type-exclusive #facilities_list-swtx .small-image{padding-top: 40px;}
 
/* storage wars NY facilities */
.drupal-type-exclusive #facilities_list-swny li {float: left; width: 230px; padding: 10px; border-bottom: 1px dotted #c2c2c2; list-style-type: none;}
.drupal-type-exclusive #facilities_list-swny li a:first-child {display: block; position: relative;}
.drupal-type-exclusive #facilities_list-swny li .storage-name {color: #767676; font-size: 18px; line-height: 22px; position: relative; margin: 0;}
.drupal-type-exclusive  #facilities_list-swny li {min-height: 200px;}
 
/* storage wars TX facilities*/
.drupal-type-exclusive #facilities_list-swtx li {float: left; width: 170px; padding: 10px; border-bottom: 1px dotted #c2c2c2; list-style-type: none;}
.drupal-type-exclusive #facilities_list-swtx li a:first-child {display: block; position: relative; margin: 10px 0 10px 0;}
.drupal-type-exclusive #facilities_list-swtx li .storage-name {color: #767676; font-size: 18px; line-height: 22px; position: relative; margin: 0;}
.drupal-type-exclusive  #facilities_list-swtx li {min-height: 205px;}
 
/* uship */
.drupal-type-exclusive.uship ul li{list-style-position: inside;}
 
/* resource page */
.drupal-type-exclusive.resource-page {font-family: AmperstandardMedium; color: #767676; font-size: 12px;}
.drupal-type-exclusive.resource-page .resources {line-height: 16px; padding-top: 10px;}
.drupal-type-exclusive.resource-page .name {font-family: AmperstandardHeavy; color: #333333; font-size: 12px;}
.drupal-type-exclusive.resource-page span.locate {font-size: 15px; font-family: AmperstandardLight; color: #333333; text-transform: uppercase; font-weight: bold;}
.drupal-type-exclusive.resource-page div.res-name {font-family: AmperstandardHeavy; color: #333333; font-size: 12px; margin: 10px 0 0 0;}
 
/* first 48 highlights */
.first48-hilights #promo-line { margin-bottom: 20px;}
.first48-hilights .hilights {margin: 10px 0; border-bottom: 1px dotted #c2c2c2;}
.first48-hilights ul {margin-bottom: 10px;}
.first48-hilights .hilights .locate {font-size: 18px; color: #333333;}
.first48-hilights .hilights.last {border-bottom: 0 none;}
.first48-hilights ul li {list-style-position: inside;}
 
/* bss followups */
.drupal-type-exclusive.bss-followups .lead {font-family: AmperstandardHeavy; color: #333333;}
.drupal-type-exclusive.bss-followups div.first p:first-child {margin-top: 3px;}
.drupal-type-exclusive.bss-followups .episode-case { min-height: 230px; margin: -5px 0 10px 0; padding-bottom: 10px;}
/* bss resource */
.drupal-type-exclusive.bss-resource-page dl {font-size: 12px; margin-bottom: 10px;}
.drupal-type-exclusive.bss-resource-page dt {font-family: AmperstandardHeavy; margin-top: 10px;}
.drupal-type-exclusive.bss-resource-page dt {color: #333333;}
.drupal-type-exclusive.bss-resource-page dd {margin: 0; padding: 0;}
.drupal-type-exclusive.bss-resource-page p span.caps {font-size: 15px; font-family: AmperstandardLight;}

/* CHN Music */
.drupal-type-exclusive.chn-music-app {min-height: 800px;}
.drupal-type-exclusive.chn-music-app .flexible-image.mobile-promo {display: none;}
.drupal-type-exclusive.chn-music-app h1 {font-size: 22px; font-weight: bold; line-height: 30px; position: relative; }
.drupal-type-exclusive.chn-music-app div.music-table > div {width: 100%; float: left; }
.drupal-type-exclusive.chn-music-app div.music-table div.top_row > div {border: none!important; height: 60px;}
.drupal-type-exclusive.chn-music-app div.music-table div.top_row > div img {position: relative; top: 50%; margin-top: -18px; left: 50%; margin-left: -20px;}
.drupal-type-exclusive.chn-music-app div.music-table div.episode_row {background: #dbd8cb;}
.drupal-type-exclusive.chn-music-app div.music-table div.song_row {height: 50px;}
.drupal-type-exclusive.chn-music-app div.music-table div.song_row.odd {background: #e8e5d6;}
.drupal-type-exclusive.chn-music-app div.music-table div.song_row.even {background: #f4f1e2;}
.drupal-type-exclusive.chn-music-app div.music-table div.song_row:last-child {border-bottom: 1px solid #d0cec0;}
.drupal-type-exclusive.chn-music-app div.music-table div.col_1 {float: left; width: 60%; border-left: 1px solid #d0cec0;}
.drupal-type-exclusive.chn-music-app div.music-table div.col_5 {border-left: 1px solid #d0cec0;}
.drupal-type-exclusive.chn-music-app div.music-table div.col_2,
.drupal-type-exclusive.chn-music-app div.music-table div.col_3,
.drupal-type-exclusive.chn-music-app div.music-table div.col_4,
.drupal-type-exclusive.chn-music-app div.music-table div.col_5 {float: right; border-right: 1px solid #d0cec0; width: 9%; height: 100%;}
.drupal-type-exclusive.chn-music-app div.music-table h2,
.drupal-type-exclusive.chn-music-app div.music-table h3 {font-family: 'AmperstandardMedium'; font-size: 13px; color: #767676; padding: 6px 6px 6px 6px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.drupal-type-exclusive.chn-music-app div.music-table h2 {color: #333;}
.drupal-type-exclusive.chn-music-app div.music-table h2 span {font-family: 'Amperscript'; color: #0a63b0;}
.drupal-type-exclusive.chn-music-app div.music-table a {width: 27px; height: 25px; background-position: 0 -25px; background-repeat: no-repeat; display: block; position: relative; left: 50%; margin-left: -13px; top: -13px; margin-top: 25px;}
.drupal-type-exclusive.chn-music-app div.music-table a:hover {background-position: 0 0;}
.drupal-type-exclusive.chn-music-app div.music-table a.download_link {background-image: url(https://aetvminisites.s3.amazonaws.com/crazy-hearts/images/music-page/download.png);}
.drupal-type-exclusive.chn-music-app div.music-table a.listen_link {background-image: url(https://aetvminisites.s3.amazonaws.com/crazy-hearts/images/music-page/listen.png);}
.drupal-type-exclusive.chn-music-app div.music-table a.play_link {background-image: url(https://aetvminisites.s3.amazonaws.com/crazy-hearts/images/music-page/play.png);}
.mobile-exclusive .drupal-type-exclusive.chn-music-app .flexible-image.exclusive-promo {display: none;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app .flexible-image.mobile-promo {display: block;}
.mobile-exclusive .inner-page .show-name {display: none;}
.mobile-exclusive h1.headline {color: #333; font-family: 'AmperstandardMedium'; font-size: 7vw; padding: 2.5vw 0 2vw 5vw; white-space: normal; width: 90vw;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app h1 {color: #333; font-family: 'AmperstandardMedium'; font-size: 6vw; padding: 2.5vw 0 2vw 0; white-space: normal;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app {min-height: 100px!important; padding-bottom: 3vw;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table {border: 1px solid #d0cec0; width: 90vw!important;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table * {border: none!important;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table h2 {font-size: 7vw; line-height: 8.5vw;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table h2 span {display: block;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table h3 {font-size: 6.25vw; line-height: 7.25vw;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table h3 span {font-family: 'AmperstandardHeavy';}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table h2,
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table h3 {margin: 6px 6px 6px 6px; text-overflow: none; white-space: normal; overflow: visible;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table h3 {margin: 5vw 6px;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.col_1 {width: 100%;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.song_row {min-height: 49px!important; height: auto!important; overflow: hidden; background: #f4f1e2; border-bottom: 1px solid #e2dfd2!important;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.song_row.open {height: 150px!important;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.song_row.open h3 {color: #0a63b0;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.links_row {height: 130px; background: #FFF; display: block; float: left; width: 100%;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.top_row {display: none;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table a,
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.links_row div.col_2,
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.links_row div.col_3,
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.links_row div.col_4,
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.links_row div.col_5 {width: 22.5vw; border: none; background-repeat: no-repeat; background-image: url(https://aetvminisites.s3.amazonaws.com/crazy-hearts/images/music-page/mobile-icons.png); height: 65px; margin-top: 5px;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.links_row div.col_2 {background-position: 50% 10px;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.links_row div.col_3 {background-position: 50% -128px;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.links_row div.col_4 {background-position: 50% -272px;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table div.links_row div.col_5 {background-position: 50% -392px;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table a {left: 0; margin-left: 0; top: 0; margin-top: 50px; }
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table a.download_link {background-position: 50% -490px;}
.mobile-exclusive .drupal-type-exclusive.chn-music-app div.music-table a.listen_link {background-position: 50% -601px;}

/* 24 things nashville */
.drupal-type-exclusive.twenty-four-things-nasvhille {height: 100%; font-family: 'AmperstandardLight';}
.drupal-type-exclusive.twenty-four-things-nasvhille p#book-subhead {margin-top: 0px;}
.drupal-type-exclusive.twenty-four-things-nasvhille p#promo-line {font-family: 'AmperstandardHeavy'; color: #333;}
.drupal-type-exclusive.twenty-four-things-nasvhille p:not(#book-subhead):not(#promo-line),
.drupal-type-exclusive.twenty-four-things-nasvhille div.ordered-list > div {padding: 0 0 20px 0;}
.drupal-type-exclusive.twenty-four-things-nasvhille div.ordered-list {padding-top: 20px;}
.drupal-type-exclusive.twenty-four-things-nasvhille div.ordered-list > div > div > span {color: #333!important;}
.drupal-type-exclusive.twenty-four-things-nasvhille div.ordered-list > div > div {/*color: #767676;*/}
.mobile-exclusive h1.headline {color: #0A63B0;}

.drupal-type-exclusive.twenty-four-things-nasvhille #promo-img img.mobile,
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille #promo-img img.desktop {display: none;}
.drupal-type-exclusive.twenty-four-things-nasvhille #promo-img img {margin-bottom: 15px;}
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille #promo-img img.mobile {display: block; width: 90vw; height: auto; margin: 8vw 0;}
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille {width: 90vw; white-space: normal;}
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille p#book-subhead {display: none;}
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille {/*color: #767676;*/}
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille div.ordered-list > div.more > div {max-height: 22.5vw; overflow-y: hidden;}
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille div.ordered-list > div.less > div {max-height: auto; overflow: visible;}
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille div.ordered-list > div.more > span.less,
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille div.ordered-list > div.less > span.more {display: none;}
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille div.ordered-list > div > span,
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille a {color: #e8483f; cursor: pointer;}
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille p,
.mobile-exclusive .drupal-type-exclusive.twenty-four-things-nasvhille .ordered-list {font-size: 5.625vw; line-height: 7.5vw;}

/* wahlburgers recipes */
.drupal-type-exclusive {/*font-family: 'AmperstandardLight';*/ color: #444; font-size: 16px; line-height: 22px;}
.mobile-exclusive .drupal-type-exclusive {font-size: 5.625vw; line-height: 7.5vw;}
.drupal-type-exclusive p.intro_copy {font-family: 'AmperstandardLight'; font-size: 16px!important; line-height: 22px!important; color: #767676; padding: 0 0 15px 0;}
.mobile-exclusive .drupal-type-exclusive p.intro_copy {font-size: 5.625vw!important;; line-height: 7.5vw!important;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipe_nav {clear: both;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipe_nav h3 {font-family: 'Amperscript'; font-size: 22px; line-height: 24px; background: #0068af; color: #fff; padding: 5px 0 5px 10px;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipe_nav ul {-moz-column-count: 2; -moz-column-gap: 30px; -webkit-column-count: 2; -webkit-column-gap: 30px; padding-top: 20px;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipe_nav ul li {list-style-type: none; /*float: left;*/ border-bottom: 1px solid #dbd8cb; padding: 15px 0;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipe_nav ul li.no_border {border-bottom: none;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipe_nav ul li a {font-family: 'AmperstandardMedium'; font-size: 18px; color: #0068af;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipe_nav ul li a span {font-size: 15px;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipe_nav ul li a:hover {color: #e8483f; text-decoration: none;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipes {clear: both;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipes div.recipe {padding: 25px 0 0 0; margin: 25px 0 0 0; border-top: 1px solid #dbd8cb; float: left}
.drupal-type-exclusive.wahlberg-family-recipes div.recipes img {float: right; margin: 0 0 15px 15px;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipes h3 a {font-family: 'Amperscript'; font-size: 26px; line-height: 36px; color: #0068af;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipes h3 a:hover {text-decoration: none; cursor: default;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipes h4 {font-family: 'AmperstandardHeavy'; font-size: 18px; color: #3b3b3a; padding: 10px 0;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipes ul {padding: 0 0 25px 0;}
.drupal-type-exclusive.wahlberg-family-recipes div.recipes ul li {font-family: 'AmperstandardLight'; font-size: 16px; line-height: 22px; padding: 0 0 0 5px; /*color: #767676;*/}
.drupal-type-exclusive.wahlberg-family-recipes div.recipes p {font-family: 'AmperstandardLight'; font-size: 16px; line-height: 22px; /*color: #767676;*/}
.drupal-type-exclusive.wahlberg-family-recipes div.recipes p:last-child {font-size: 16px; line-height: 24px;}
.drupal-type-exclusive.wahlberg-family-recipes .top_link {width: 100%; text-align: right; padding: 50px 0 0 0; clear: both; font-family: 'Amperserif'; font-size: 16px; cursor: pointer;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes .top_link {display: none;}
.drupal-type-exclusive.wahlberg-family-recipes #promo-img img.mobile,
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes #promo-img img.desktop {display: none;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes #promo-img img.mobile {display: block; width: 90vw; height: auto; margin: 2vw 0;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes * {white-space: normal;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe_nav ul {display: none;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe_nav h3 {width: 90vw; position: relative; left: -5vw; font-size: 6.5vw; line-height: 14vw; padding: 0 5vw;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe h3 a {font-family: 'AmperstandardMedium'; font-size: 5.5vw; color: #0a63b0; line-height: 14vw; background: #dbd8cb; padding: 0 5vw; float: left; width: 90vw;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe h3 a span {font-size: 4vw; font-stretch: expanded;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe h3 a span:after {content: ' âˆ¨';}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe {max-height: 14vw; overflow: hidden; border-top: none!important;; position: relative; left: -5vw; width: 100vw; padding: 0 0 0 0!important; margin: 1px 0 0 0!important; -moz-transition: max-height 1s; -ms-transition: max-height 1s; -o-transition: max-height 1s; -webkit-transition: max-height 1s; transition: max-height 1s;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe.open {max-height: 100%; padding-bottom: 10vw!important;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe.open h3 a {color: #ea4639;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe.open h3 a span:after {content: ' âˆ§';}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe img {float: none; width: 50vw; margin: 5vw; padding: 0 20vw;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe p,
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe h4,
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe ul {padding-left: 5vw; padding-right: 5vw;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe h4 {font-size: 5.625vw; padding-top: 5.5vw;  padding-bottom: 5.5vw;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe ul li {list-style-type: disc; list-style-position: inside; font-size: 5.625vw; line-height: 7.5vw;}
.mobile-exclusive .drupal-type-exclusive.wahlberg-family-recipes div.recipe p {font-size: 5.625vw; line-height: 7.5vw;}
.mobile-exclusive #footer .schedule {display: none!important;}

.drupal-type-exclusive.no-ad {
  margin-top: 10px;
}
.drupal-type-exclusive.no-ad .promo-img.half-width {
  width: 55%;
  margin: 0 0 25px 25px;
  float: right;
}

.mobile-exclusive .drupal-type-exclusive.no-ad .promo-img.half-width {
  width: 95vw;
  margin: 0 0 0 0;
}

.drupal-type-exclusive.no-ad #download-opts > div {
  margin: 25px 0;
  text-align: center;

}
.drupal-type-exclusive.no-ad #download-opts #promo-line {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

/* Duck Dynasty Videogame */
.mobile-exclusive #dd-videogame .background,
.duckdynastyvideogame .exclusive-page {
  background: #171717 url(http://aetvminisites.s3.amazonaws.com/duck-dynasty/videogame/background.jpg) 0 0 repeat-x;
  width: 95%;
  max-width: 1280px;
}
#dd-videogame p {
  color: #fff;
}
#dd-videogame h2 {
  color: #e9d503;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 3.5vw;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(233,213,3,0.5);
}
#container:not(.mobile-exclusive) #dd-videogame > div {
  padding: 25px 50px 0 50px;
  clear: both;
}
#dd-videogame ul li {
  list-style-type: none;
}
#dd-videogame .games-intro img {
  margin: 0 0 0 0;
  float: left;
  width: 32vw;
  height: auto;
  max-width: 550px;
}
#dd-videogame .games-intro p {
  padding: 15px 0 0 0;
  float: right;
  width: 42vw;
  max-width: 500px;
  font-size: 18px;
  line-height: 26px;
}

#container:not(.mobile-exclusive) #dd-videogame .games-video p {
  font-size: 1.9vw;
  line-height: 2.9vw;
  padding: 0 0 10px 0;
  width: 76vw;
  max-width: 1080px;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
}
.games-video-player {
  width: 76vw;
  max-width: 1080px;
  height: 42.75vw;
  max-height: 608px;
  margin: 0 auto;
}
#dd-videogame .games-order > img {
  padding: 0 0 0 25px;
  float: left;
}
#dd-videogame .games-order ul {
  max-width: calc(100% - 351px);
  float: right;
  padding: 0 0 0 25px;
}
#dd-videogame .games-order ul li {
  float: right;
  margin: 0 0 15px 25px;
}
#dd-videogame .games-demo .games-demo-content {
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
}
#container:not(.mobile-exclusive) #dd-videogame .games-demo .games-demo-content {
  background-image: url(http://aetvminisites.s3.amazonaws.com/duck-dynasty/videogame/demo-bg.png);
  width: 76vw;
  height: 45vw;
}
.mobile-exclusive #dd-videogame .games-demo .games-demo-content {
  background-image: url(http://aetvminisites.s3.amazonaws.com/duck-dynasty/videogame/demo-bg-mobile.png);
  width: 90vw;
  height: 100vw;
}
#dd-videogame .games-demo h3.demo-header,
#dd-videogame .games-demo h3.demo-subheader,
#dd-videogame .games-demo p,
#dd-videogame .games-demo a {
  position: absolute;
}
#container:not(.mobile-exclusive) #dd-videogame .games-demo h3.demo-header {
  top: 6vw;
  left: 5.5vw;
}
#container:not(.mobile-exclusive) #dd-videogame .games-demo h3.demo-header img {
  width: 25vw!important;
  height: auto!important;
}
.mobile-exclusive #dd-videogame .games-demo h3.demo-header {
  left: 23vw;
  top: 1.9vw;
}
.mobile-exclusive #dd-videogame .games-demo h3.demo-header img {
  width: 44vw!important;
  height: auto!important;
}
#container:not(.mobile-exclusive) #dd-videogame .games-demo h3.demo-subheader {
  top: 27vw;
  left: 10.5vw;
}
#container:not(.mobile-exclusive) #dd-videogame .games-demo h3.demo-subheader img {
  width: 20vw!important;
  height: auto!important;
}
.mobile-exclusive #dd-videogame .games-demo h3.demo-subheader {
  top: 38vw;
  left: 32vw;
}
.mobile-exclusive #dd-videogame .games-demo h3.demo-subheader img {
  width: 28vw!important;
  height: auto!important;
}
#dd-videogame .games-demo p {
  color: #171717;
  font-weight: 700;
  top:9.5vw;
  text-align: center;
}
#container:not(.mobile-exclusive) #dd-videogame .games-demo p {
  font-size: 2.6vw;
  line-height: 3.4vw;
  top:9.5vw;
  left: 33.5vw;
  width: 37.5vw;
}
.mobile-exclusive #dd-videogame .games-demo p {
  font-size: 5vw;
  line-height: 6vw;
  top:52vw;
  left: 10vw;
  width: 70vw;
}
#dd-videogame .games-demo a {
  color: #ff8400;
  font-weight: 700;
  text-align: center;
}
#container:not(.mobile-exclusive) #dd-videogame .games-demo a {
  font-size: 3.5vw;
  left: 44vw;
  width: 27vw;
  top: 32.4vw;
}
.mobile-exclusive #dd-videogame .games-demo a {
  font-size: 5.5vw;
  left: 38.5vw;
  width: 47vw;
  top: 84.5vw;
}
#dd-videogame .games-screenshots #screenshots-wrap ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
#dd-videogame .games-screenshots #screenshots-wrap ul li {
  padding: 0 0 25px 0;
  text-align: center;
  height: 30vw;
  max-height: 300px;
}
#dd-videogame .games-screenshots #screenshots-wrap ul li img {
  border-radius: 10px;
  width: 35vw;
  max-width: 450px;
}
#dd-videogame .games-screenshots #screenshots-wrap ul li p {
  font-size: 18px;
  width: 35vw;
  max-width: 450px;
  margin: 0 auto;
  text-align: left;
}
#dd-videogame .games-formats {
  margin-top: 50px;
  text-align: center;
  border-bottom: 1px solid #333;
}
#dd-videogame .games-formats ul li {
  display: inline-block;
  margin: 0 10px 25px 10px;
}
#dd-videogame .games-disclaimer p {
  padding: 15px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  opacity: 0.5;
}
.duckdynastyvideogame .scrollbar {
  background: #000!important;
}
.duckdynastyvideogame .thumb .end,
.duckdynastyvideogame .thumb {
  background-color: #ccc!important;
}
.duckdynastyvideogame .track {
  background-color: #000!important;
  border-top: 1px solid #000!important;
}
.mobile-exclusive #dd-videogame .games-intro p,
.mobile-exclusive #dd-videogame .games-disclaimer,
.mobile-exclusive #dd-videogame .games-formats,
.mobile-exclusive #dd-videogame .games-screenshots,
/*.mobile-exclusive #dd-videogame .games-order,*/
.mobile-exclusive #dd-videogame .games-intro,
.mobile-exclusive #dd-videogame .games-video {
  clear: both;
  margin-bottom: 25px;
  float: none;
  width: 95vw;
}
.mobile-exclusive #dd-videogame .background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.mobile-exclusive #footer,
.mobile-exclusive #back_top {
  background: #F4F1E2;
}
.mobile-exclusive #back_top {
  margin: 0 0 0 0!important;
  padding: 6.25vw 0!important;
}
.mobile-exclusive .ad-panel {
  padding: 2.5vw 0 0 0!important;
}
.mobile-exclusive #dd-videogame h2 {
  width: 90vw;
  font-size: 7.5vw;
  line-height: 8.5vw;
}
.mobile-exclusive #dd-videogame .games-intro {
  margin-top: -10vw;
}
.mobile-exclusive #dd-videogame .games-intro p {
  max-width: 90vw;
}
.mobile-exclusive #dd-videogame .games-intro img {
  position: relative;
  width: 90vw;
}
.mobile-exclusive #dd-videogame .games-video p {
  font-size: 4.5vw;
  line-height: 5.5vw;
  padding: 0 0 10px 0;
}
.mobile-exclusive #dd-videogame .games-video p:nth-child(3) {
  font-size: 4.9vw;
  line-height: 5.9vw;
}
.mobile-exclusive #dd-videogame .games-order > img {
  float: none;
  position: relative;
  width: 60vw;
  height: auto;
  left: 50%;
  margin-left: -38vw;
}
.mobile-exclusive #dd-videogame .games-order ul {
  padding: 25px 0;
  float: none;
  max-width: 90vw;
  text-align: center;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.mobile-exclusive #dd-videogame .games-order ul li img {
  width: 42vw;
}
.mobile-exclusive #dd-videogame .games-screenshots > div {
  overflow: hidden;
  width: 90vw;
  max-height: 40vh;
}
.mobile-exclusive #dd-videogame .games-screenshots > div > div {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 15px;
  max-height: 40vh;
}
.mobile-exclusive #dd-videogame .games-screenshots #screenshots-wrap ul {
  width: 2790px;
  width: calc(88vw * 5);
  overflow: auto;
  white-space: nowrap!important;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
.mobile-exclusive #dd-videogame .games-screenshots #screenshots-wrap  ul li {
  float: left!important;
  margin: 0 2vw 0 0;
  width: 90vw!important;
  height: auto;
}
.mobile-exclusive #dd-videogame .games-screenshots #screenshots-wrap  ul li p,
.mobile-exclusive #dd-videogame .games-screenshots #screenshots-wrap  ul li img {
  width: 90vw!important;
}
.mobile-exclusive #dd-videogame .games-screenshots #screenshots-wrap  ul li img {
  height: auto;
}
.mobile-exclusive #dd-videogame .games-screenshots  {
  position: relative;
}
.mobile-exclusive #dd-videogame .games-screenshots #scroll-indicator {
  position: absolute;
  right: 10vw;
  top: 87vw;
  overflow: hidden;
}
.mobile-exclusive #dd-videogame .games-screenshots #scroll-indicator span {
  width: 10px;
  height: 10px;
  margin: 0 10px 0 0;
  background: #686868;
  float: left;
  border-radius: 15px;
}
.mobile-exclusive #dd-videogame .games-formats {
  margin-top: 0;
}
.mobile-exclusive #dd-videogame .games-formats ul li {
  float: left;
}
.mobile-exclusive #dd-videogame .games-formats ul img {
  height: 7vw;
  width: auto;
}
.mobile-exclusive #dd-videogame .games-video-player {
  width: 76vw;
  height: 43vw;
  overflow: hidden;
}

@media (max-width: 1024px) {
  #dd-videogame h2 {
    font-size: 4vw;
    line-height: 5vw;
  }
  #container #dd-videogame > div {
    padding-top: 0!important;
  }
  .duckdynastyvideogame .scrollbar {
    display: none;
  }
  #dd-videogame .games-video-player {
    margin-bottom: 25px;
  }
  #dd-videogame .games-video p {
    font-size: 2.3vw;
    line-height: 3.3vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) {
  #dd-videogame .games-intro p {
    font-size: 16px;
    line-height: 24px;
    width: 42vw;
    padding-top: 0;
    padding-bottom: 15px;
  }
  #dd-videogame .games-intro img {
    width: 38vw;
  }  
}

@media (min-width: 1348px) {
  #container:not(.mobile-exclusive) #dd-videogame .games-demo .games-demo-content {
    width: 939px;
    height: 522px;
  }
  #container:not(.mobile-exclusive) #dd-videogame .games-demo h3.demo-header {
    top: 72px;
    left: 62px;
  }
  #container:not(.mobile-exclusive) #dd-videogame .games-demo h3.demo-header img {
    width: 320px!important;
  }
  #container:not(.mobile-exclusive) #dd-videogame .games-demo h3.demo-subheader {
    top: 334px;
    left: 120px;
  }
  #container:not(.mobile-exclusive) #dd-videogame .games-demo h3.demo-subheader img {
    width: 209px!important;
  }
  #container:not(.mobile-exclusive) #dd-videogame .games-demo p {
    font-size: 32px;
    line-height: 38px;
    top:130px;
    left: 420px;
    width: 460px;
  }
  #container:not(.mobile-exclusive) #dd-videogame .games-demo a {
    font-size: 42px;
    left: 540px;
    width: 335px;
    top: 400px;
  }
}
/* End Duck Dynasty Videogame */
/* Duck Dynasty iFrame */
.duckdynastyvideogamequiz .exclusive-page .scrollbar,
.duckdynastyvideogamequiz .exclusive-page .sub-header {display: none!important;}
.duckdynastyvideogamequiz .exclusive-page .content {
font-size: 12px;
color: #333;
padding-left: 0;
padding-right: 0;
padding-bottom: 0;
overflow: hidden;
height: 100%;
}
.duckdynastyvideogamequiz .exclusive-page {
  min-width: 0;
  padding-bottom: 0;
  height: calc(100% - 70px);
}
.duckdynastyvideogamequiz .exclusive-body {
  height: 100%!important;
  margin-top: 0!important;
}
.duckdynastyvideogamequiz .exclusive-page .sub-header {
font-size: 18px;
font-family: Arial;
color: #333;
}
.duckdynastyvideogamequiz .exclusive-page .col1 {
  width: 100%!important;
}
.duckdynastyvideogamequiz .exclusive-page .col1 .overview {
  height: 100%;
}
.duckdynastyvideogamequiz .exclusive-page .col1 .viewport {
width: auto;
  height: 100%;
left: 0;
}
.mobile_wrapper.duckdynastyvideogamequizmobile .headline {
  display: none;
}
.mobile_wrapper.duckdynastyvideogamequizmobile .mobile-exclusive .content {
  width: 100vw;
  padding: 0;
}
.splash .right-column-removed .modal .exclusive-page {
   background: #000!important;
}
