/* fieldname: css_node_css  */
.aetv_showBranding_shippingwars #show_icon {
  background-image: url(https://aetvminisites.s3.amazonaws.com/shipping-wars/images/rebrand/shippingwars_icon_fin.png)!important;
}
.aetv_showBranding_shippingwars .custom-fb-tile .quote-bubble,
.aetv_showBranding_shippingwars .custom-fb-tile {
  background-color: #179776!important;
}
.aetv_showBranding_shippingwars .custom-fb-tile .social-icon-facebook {
  right: 0px;
  bottom: 0px;
}