/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_thereturned #container #picture_stage a.prev,
.aetv_showBranding_thereturned #container #picture_stage a.next,
.aetv_showBranding_thereturned #header #mobile-menu_top,
.aetv_showBranding_thereturned .mobile_wrapper #header,
.aetv_showBranding_thereturned .shop-content .network-logo {
  background-color: rgb(36,76,90)!important;
}
.aetv_showBranding_thereturned .scroll-button {
  background: rgb(36,76,90);
  background: rgba(36,76,90, 0.3);
}
.aetv_showBranding_thereturned .scroll-button:hover {
  background: rgb(36,76,90);
  background: rgba(36,76,90, 0.9);
}
.aetv_showBranding_thereturned .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_thereturned .season-archive .episode-tile .episode-name,
.aetv_showBranding_thereturned .video-landing-section-title h2 span,
.aetv_showBranding_thereturned .video-landing-section-title span,
.aetv_showBranding_thereturned .video-landing-section-title h1 span,
.aetv_showBranding_thereturned #full-episodes-column-title h1:not(span),
.aetv_showBranding_thereturned #bio-slideout .cast-header,
.aetv_showBranding_thereturned #bio-slideout h3.cast-header-sm,
.aetv_showBranding_thereturned .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_thereturned .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_thereturned .cast-bio-page h2.episode-title.darker-text {
  color: rgb(36,76,90)!important;
}

.aetv_showBranding_thereturned #container #picture_selector ul li img {
  border-color: rgb(36,76,90)!important;
}
.aetv_showBranding_thereturned .mobile_wrapper .show-navigation .social {
    background: rgb(36,76,90)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_thereturned .exclusive-tile p.cta,
.aetv_showBranding_thereturned .video-landing-section-title :not(span),
.aetv_showBranding_thereturned #full-episodes-column-title h1 span,
.aetv_showBranding_thereturned .cast-tile .cast-name a,
.aetv_showBranding_thereturned .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_thereturned .episode-premier *,
.aetv_showBranding_thereturned div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_thereturned .custom-tw-tile .note_title a {
  color: rgb(255,255,255)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_thereturned .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_thereturned .generic-tile:hover .cta,
.aetv_showBranding_thereturned .exclusive-tile:hover p.cta,
.aetv_showBranding_thereturned .cast-panel:hover .bio-link,
.aetv_showBranding_thereturned .cast-action a:hover,
.aetv_showBranding_thereturned .tile:hover .watch-now a,
.aetv_showBranding_thereturned .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_thereturned .shop-content:hover .cta,
.aetv_showBranding_thereturned div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_thereturned .exclusive-tile .exclusive-copy p {
  color: rgb(217,217,214)!important;
}
.aetv_showBranding_thereturned .scroll-button .button-tip {
  background-color: rgb(217,217,214);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_thereturned #site_nav .top_row #show_nav > li.active > a {
  color: rgb(255,255,255);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_thereturned  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(36,76,90);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_thereturned div.exclusive-copy,
.aetv_showBranding_thereturned .cast-group-landing-page .caption,
.aetv_showBranding_thereturned .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_thereturned .cast-member-panel,
.aetv_showBranding_thereturned .generic-tile .body,
.aetv_showBranding_thereturned .shop-content .shop-info,
.aetv_showBranding_thereturned .video-tile-bottom {
  background: rgb(36,76,90)!important;
}
.aetv_showBranding_thereturned .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(36,76,90)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_thereturned .generic-tile .body .headline,
.aetv_showBranding_thereturned .shop-content .shop-header,
.aetv_showBranding_thereturned .tile .video-span {
  color: rgb(206,33,59);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_thereturned .generic-tile .description,
.aetv_showBranding_thereturned .shop-content .shop-text,
.aetv_showBranding_thereturned .tile .video-content {
  color: rgb(217,217,214);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_thereturned .video-state-text,
.aetv_showBranding_thereturned .eg-hero .hero-text p.more_less {
  color: rgb(206,33,59);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_thereturned #header .nav > ul > li a:hover,
.aetv_showBranding_thereturned #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_thereturned .episode-premier {
  background: rgb(36,76,90);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_thereturned .custom-tw-tile {
  background: rgb(36,76,90);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_thereturned #landing-gallery-filters,
.aetv_showBranding_thereturned #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_thereturned #sub-navigation .show-next a,
.aetv_showBranding_thereturned #text-episode,
.aetv_showBranding_thereturned #slideout-season-select,
.aetv_showBranding_thereturned .bottom-bar,
.aetv_showBranding_thereturned .show-video-landing #landing-video-filters,
.aetv_showBranding_thereturned #sub-navigation {
  background-color: rgb(36,76,90)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_thereturned #site_nav {
  background: rgb(36,76,90);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_thereturned .season-archive .episode-tile .short-description-text,
.aetv_showBranding_thereturned .season-archive .episode-tile .premiere-date,
.aetv_showBranding_thereturned .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_thereturned .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_thereturned .season-archive .episode-tile .episode-description {
  color: rgb(217,217,214);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_thereturned .allshows-most-popular h4,
.aetv_showBranding_thereturned .cast-landing-page .page-title {
  color: rgb(36,76,90);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_thereturned #bio-slideout span.quote-text {
  color: rgb(36,76,90)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_thereturned .cast-tile .cast-action a {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_thereturned .video-landing-section-title span.title_showname {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_thereturned span.script.title_video {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_thereturned .video-landing-section-title span.title_colon {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_thereturned .video-landing-section-title span.title_type {
  color: rgb(255,255,255)!important;
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(217,217,214);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(206,33,59);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_thereturned #site_nav .top_row #show_title a {
  color: rgb(217,217,214);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(36,76,90);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(206,33,59);}
}/* fieldname: field_css_page_bkgrd_image  */
.aetv_showBranding_thereturned #wrapper:not(.mobile_wrapper) .inner-page {
  background: transparent url(http://s3.aetv.com/background-texture_47.jpg) 0 0 / auto 100% repeat-x; 
}
.aetv_showBranding_thereturned div.hero-image-crop div.gradient {
  width: 0!important;
}
.aetv_showBranding_thereturned div.hero-image-crop {
  width: 100%!important;
  overflow: hidden;
}
.aetv_showBranding_thereturned div.hero-image-crop .hero-image {
  width: auto;
  height: 100%;
}
.aetv_showBranding_thereturned .exclusives-landing-inner-page div.column.main,
.aetv_showBranding_thereturned #ech-container {
  background: transparent;
}/* fieldname: css_node_css  */
.aetv_showBranding_thereturned .tile.custom-tw-tile .quote-text a {color: #ffffff !important; }

.aetv_showBranding_thereturned .custom-tw-tile .quote-bubble .quote-holder {color: rgb(36,76,90) !important; }

.aetv_showBranding_thereturned .show-video-landing h1 {color: rgb(36,76,90) !important; }

