/* fieldname: field_css_primary_color  */
/* Primary color */
.aetv_showBranding_survivingmarriage #container #picture_stage a.prev,
.aetv_showBranding_survivingmarriage #container #picture_stage a.next,
.aetv_showBranding_survivingmarriage #header #mobile-menu_top,
.aetv_showBranding_survivingmarriage .mobile_wrapper #header,
.aetv_showBranding_survivingmarriage .shop-content .network-logo {
  background-color: rgb(72,58,47)!important;
}
.aetv_showBranding_survivingmarriage .scroll-button {
  background: rgb(72,58,47);
  background: rgba(72,58,47, 0.3);
}
.aetv_showBranding_survivingmarriage .scroll-button:hover {
  background: rgb(72,58,47);
  background: rgba(72,58,47, 0.9);
}
.aetv_showBranding_survivingmarriage .season-archive .description-text .archive-hero-series-name,
.aetv_showBranding_survivingmarriage .season-archive .episode-tile .episode-name,
.aetv_showBranding_survivingmarriage .video-landing-section-title h2 span,
.aetv_showBranding_survivingmarriage .video-landing-section-title span,
.aetv_showBranding_survivingmarriage .video-landing-section-title h1 span,
.aetv_showBranding_survivingmarriage #full-episodes-column-title h1:not(span),
.aetv_showBranding_survivingmarriage #bio-slideout .cast-header,
.aetv_showBranding_survivingmarriage #bio-slideout h3.cast-header-sm,
.aetv_showBranding_survivingmarriage .tile.custom-tw-tile .quote-text a,
.aetv_showBranding_survivingmarriage .cast-bio-page h2.episode-title.lighter-text,
.aetv_showBranding_survivingmarriage .cast-bio-page h2.episode-title.darker-text {
  color: rgb(72,58,47)!important;
}

.aetv_showBranding_survivingmarriage #container #picture_selector ul li img {
  border-color: rgb(72,58,47)!important;
}
.aetv_showBranding_survivingmarriage .mobile_wrapper .show-navigation .social {
    background: rgb(72,58,47)!important;
}/* fieldname: field_css_secondary_color  */
/* Secondary color */
.aetv_showBranding_survivingmarriage .exclusive-tile p.cta,
.aetv_showBranding_survivingmarriage .video-landing-section-title :not(span),
.aetv_showBranding_survivingmarriage #full-episodes-column-title h1 span,
.aetv_showBranding_survivingmarriage .cast-tile .cast-name a,
.aetv_showBranding_survivingmarriage .tile:not(.custom-tw-tile ) div:not(.cast-quote) .quote-text,
.aetv_showBranding_survivingmarriage .episode-premier *,
.aetv_showBranding_survivingmarriage div.video-tile-bottom a.aetv-modal-link,
.aetv_showBranding_survivingmarriage .custom-tw-tile .note_title a {
  color: rgb(249,232,194)!important;
}
/* fieldname: field_css_tertiary_color  */
/* Tertiary color */
.aetv_showBranding_survivingmarriage .exclusives-landing-inner-page div.exclusive-tile:hover div.exclusive-copy p.cta,
.aetv_showBranding_survivingmarriage .generic-tile:hover .cta,
.aetv_showBranding_survivingmarriage .exclusive-tile:hover p.cta,
.aetv_showBranding_survivingmarriage .cast-panel:hover .bio-link,
.aetv_showBranding_survivingmarriage .cast-action a:hover,
.aetv_showBranding_survivingmarriage .tile:hover .watch-now a,
.aetv_showBranding_survivingmarriage .cast-group-landing-page .caption:hover .bio-link,
.aetv_showBranding_survivingmarriage .shop-content:hover .cta,
.aetv_showBranding_survivingmarriage div.video-tile-bottom:hover a.aetv-modal-link,
.aetv_showBranding_survivingmarriage .exclusive-tile .exclusive-copy p {
  color: rgb(112,149,186)!important;
}
.aetv_showBranding_survivingmarriage .scroll-button .button-tip {
  background-color: rgb(112,149,186);
}
/* fieldname: field_css_quaternary_color  */
/* Quaternary color */
.aetv_showBranding_survivingmarriage #site_nav .top_row #show_nav > li.active > a {
  color: rgb(72,58,47);
} 
/* fieldname: field_css_quinary_color  */
/* Quinary color */
.aetv_showBranding_survivingmarriage  #wrapper.mobile_wrapper .inner-wrapper {
  background: rgb(112,149,186);
}
/* fieldname: field_css_senary_color  */
/* Senary color */
.aetv_showBranding_survivingmarriage div.exclusive-copy,
.aetv_showBranding_survivingmarriage .cast-group-landing-page .caption,
.aetv_showBranding_survivingmarriage .exclusives-landing-inner-page div.exclusive-tile div.exclusive-copy,
.aetv_showBranding_survivingmarriage .cast-member-panel,
.aetv_showBranding_survivingmarriage .generic-tile .body,
.aetv_showBranding_survivingmarriage .shop-content .shop-info,
.aetv_showBranding_survivingmarriage .video-tile-bottom {
  background: rgb(72,58,47)!important;
}
.aetv_showBranding_survivingmarriage .cast-group-landing-page .cast-panel .caption {
  border-color: rgb(72,58,47)!important;
}/* fieldname: field_css_septenary_color  */
/* Septenary color */
.aetv_showBranding_survivingmarriage .generic-tile .body .headline,
.aetv_showBranding_survivingmarriage .shop-content .shop-header,
.aetv_showBranding_survivingmarriage .tile .video-span {
  color: rgb(112,149,186);
}/* fieldname: field_css_octonary_color  */
/* Octonary color */
.aetv_showBranding_survivingmarriage .generic-tile .description,
.aetv_showBranding_survivingmarriage .shop-content .shop-text,
.aetv_showBranding_survivingmarriage .tile .video-content {
  color: rgb(249,232,194);
}/* fieldname: field_css_nonary_color  */
/* Nonary color */
.aetv_showBranding_survivingmarriage .video-state-text,
.aetv_showBranding_survivingmarriage .eg-hero .hero-text p.more_less {
  color: rgb(112,149,186);
}/* fieldname: field_css_denary_color  */
/* Denary color */
.aetv_showBranding_survivingmarriage #header .nav > ul > li a:hover,
.aetv_showBranding_survivingmarriage #header .nav #header_nav_dd li a:hover,
.aetv_showBranding_survivingmarriage .episode-premier {
  background: rgb(112,149,186);
}/* fieldname: field_css_undenary_color  */
/* 11th color */
.aetv_showBranding_survivingmarriage .custom-tw-tile {
  background: rgb(249,232,194);
}/* fieldname: field_css_duodenary_color  */
/* Duodenary color */
.aetv_showBranding_survivingmarriage #landing-gallery-filters,
.aetv_showBranding_survivingmarriage #site_nav #show_nav > li:last-child > a,
.aetv_showBranding_survivingmarriage #sub-navigation .show-next a,
.aetv_showBranding_survivingmarriage #text-episode,
.aetv_showBranding_survivingmarriage #slideout-season-select,
.aetv_showBranding_survivingmarriage .bottom-bar,
.aetv_showBranding_survivingmarriage .show-video-landing #landing-video-filters,
.aetv_showBranding_survivingmarriage #sub-navigation {
  background-color: rgb(72,58,47)!important;
}
/* fieldname: field_css_thirteenth_color  */
.aetv_showBranding_survivingmarriage #site_nav {
  background: rgb(72,58,47);
}/* fieldname: field_css_fourteenth_color  */
.aetv_showBranding_survivingmarriage .season-archive .episode-tile .short-description-text,
.aetv_showBranding_survivingmarriage .season-archive .episode-tile .premiere-date,
.aetv_showBranding_survivingmarriage .season-archive .episode-tile .premiere-rating,
.aetv_showBranding_survivingmarriage .season-archive .episode-tile .premiere-date-date,
.aetv_showBranding_survivingmarriage .season-archive .episode-tile .episode-description {
  color: rgb(39,31,25);
}/* fieldname: field_css_fifteenth_color  */
.aetv_showBranding_survivingmarriage .allshows-most-popular h4,
.aetv_showBranding_survivingmarriage .cast-landing-page .page-title {
  color: rgb(249,232,194);
}/* fieldname: field_css_sixteenth_color  */
.aetv_showBranding_survivingmarriage #bio-slideout span.quote-text {
  color: rgb(249,232,194)!important;
}/* fieldname: field_css_seventeenth_color  */
.aetv_showBranding_survivingmarriage .cast-tile .cast-action a {
  color: rgb(249,232,194)!important;
}/* fieldname: field_css_eighteenth_color  */
.aetv_showBranding_survivingmarriage .video-landing-section-title span.title_showname {
  color: rgb(72,58,47)!important;
}/* fieldname: field_css_nineteenth_color  */
.aetv_showBranding_survivingmarriage span.script.title_video {
  color: rgb(72,58,47)!important;
}/* fieldname: field_css_twentieth_color  */
.aetv_showBranding_survivingmarriage .video-landing-section-title span.title_colon {
  color: rgb(72,58,47)!important;
}/* fieldname: field_css_twenty_first_color  */
.aetv_showBranding_survivingmarriage .video-landing-section-title span.title_type {
  color: rgb(72,58,47)!important;
}/* fieldname: field_css_twenty_second_color  */
@media (max-width: 1023px) {
  #show_nav {
    background: rgba(0,0,0,0.8);
    background: -webkit-linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
    background: -o-linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
    background: -moz-linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
    background: linear-gradient(rgb(0,0,0),rgba(0,0,0,0.8));
  }
}
div.hamburger.show.open {
  background: rgb(0,0,0);
}/* fieldname: field_css_twenty_third_color  */
#site_nav .top_row #show_nav > li > a {color: rgb(249,232,194);}
/* fieldname: field_css_twenty_fourth_color  */
#site_nav .top_row #show_nav > li > a:hover {color: rgb(112,149,186);}
/* fieldname: field_css_twenty_fifth_color  */
.aetv_showBranding_survivingmarriage #site_nav .top_row #show_title a {
  color: rgb(112,149,186);
}/* fieldname: field_css_twenty_sixth_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a {color: rgb(112,149,186);}
}/* fieldname: field_css_twenty_seventh_color  */
@media (max-width: 1023px) {
  #site_nav .top_row #show_nav > li > a:hover {color: rgb(112,149,186);}
}/* fieldname: field_css_page_bkgrd_image  */
.aetv_showBranding_survivingmarriage #wrapper:not(.mobile_wrapper) .inner-page {
  background: transparent url(http://s3.aetv.com/surviving_marriage_textures_ocean_light.jpg) 0 0 / auto 100% repeat-x; 
}
.aetv_showBranding_survivingmarriage div.hero-image-crop div.gradient {
  width: 0!important;
}
.aetv_showBranding_survivingmarriage div.hero-image-crop {
  width: 100%!important;
  overflow: hidden;
}
.aetv_showBranding_survivingmarriage div.hero-image-crop .hero-image {
  width: auto;
  height: 100%;
}
.aetv_showBranding_survivingmarriage .exclusives-landing-inner-page div.column.main,
.aetv_showBranding_survivingmarriage #ech-container {
  background: transparent;
}/* fieldname: css_node_css  */
.aetv_showBranding_survivingmarriage .season-archive .description-text .archive-hero-season-number {color: #483a2f !important;}
.aetv_showBranding_survivingmarriage .pr-tile .cta {position: relative; bottom: 0; left: 0;}
.aetv_showBranding_survivingmarriage .pr-tile .icon {right: 10px;}
.aetv_showBranding_survivingmarriage .pr-tile .pr-body {margin: 0;}

.aetv_showBranding_survivingmarriage #site_nav .top_row #show_nav > li.active > a {color: #7095ba !important;}